n8n Workflow Publisher/wrokflow.json
{"nodes":[{"parameters":{"formTitle":"n8n Workflow Publisher","formDescription":"Paste your workflow JSON below and fill in the details. The AI will generate a README and publish everything to GitHub automatically.","formFields":{"values":[{"fieldLabel":"Your Email","fieldType":"email","requiredField":true},{"fieldLabel":"Workflow JSON","fieldType":"textarea","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.6,"position":[0,0],"id":"c4d2a72b-d17d-42cc-af19-179c6647bec5","name":"On form submission","webhookId":"4e2af662-a842-43a1-b74c-35fd021e4ef5"},{"parameters":{"jsCode":"const items = $input.all();\n\n// ── Repair stray literal \"\\n\" / \"\\r\" formatting artifacts ──────────────────\n// n8n's form sometimes submits JSON where line breaks come through as the\n// literal characters backslash+n instead of a real newline byte. This only\n// strips those OUTSIDE of quoted strings, so real \\n inside a node's\n// jsCode/message stays untouched.\nfunction stripStructuralEscapes(text) {\n  let result = '';\n  let inString = false;\n\n  for (let i = 0; i < text.length; i++) {\n    const char = text[i];\n\n    if (inString) {\n      if (char === '\\\\' && i + 1 < text.length) {\n        result += char + text[i + 1];\n        i++;\n        continue;\n      }\n      if (char === '\"') inString = false;\n      result += char;\n      continue;\n    }\n\n    if (char === '\"') {\n      inString = true;\n      result += char;\n      continue;\n    }\n\n    if (char === '\\\\' && (text[i + 1] === 'n' || text[i + 1] === 'r')) {\n      i++;\n      continue;\n    }\n\n    result += char;\n  }\n\n  return result;\n}\n\nfunction parseWithRepair(rawText) {\n  try {\n    return JSON.parse(rawText);\n  } catch (e) {\n    try {\n      return JSON.parse(stripStructuralEscapes(rawText));\n    } catch (e2) {\n      return null;\n    }\n  }\n}\n\nfunction isValidWorkflow(parsed) {\n  if (!parsed || typeof parsed !== 'object') return false;\n  if (!Array.isArray(parsed.nodes) || parsed.nodes.length === 0) return false;\n  if (!parsed.connections || typeof parsed.connections !== 'object') return false;\n\n  const nodeNames = new Set();\n  const nodeIds   = new Set();\n\n  for (const node of parsed.nodes) {\n    if (typeof node.name !== 'string' || node.name.trim() === '') return false;\n    if (nodeNames.has(node.name)) return false;\n    nodeNames.add(node.name);\n\n    if (typeof node.type !== 'string' || node.type.trim() === '') return false;\n    if (typeof node.typeVersion !== 'number') return false;\n\n    // position — n8n uses ARRAY [x, y], NOT object {x, y}\n    if (\n      !Array.isArray(node.position) ||\n      node.position.length < 2 ||\n      typeof node.position[0] !== 'number' ||\n      typeof node.position[1] !== 'number'\n    ) return false;\n\n    if (node.id !== undefined && node.id !== null) {\n      if (nodeIds.has(node.id)) return false;\n      nodeIds.add(node.id);\n    }\n  }\n\n  for (const sourceName of Object.keys(parsed.connections)) {\n    if (!nodeNames.has(sourceName)) return false;\n\n    const outputGroups = parsed.connections[sourceName];\n    if (!outputGroups || typeof outputGroups !== 'object') continue;\n\n    for (const outputType of Object.keys(outputGroups)) {\n      const outputBranches = outputGroups[outputType];\n      if (!Array.isArray(outputBranches)) continue;\n\n      for (const branch of outputBranches) {\n        if (!Array.isArray(branch)) continue;\n        for (const conn of branch) {\n          if (conn && conn.node && !nodeNames.has(conn.node)) return false;\n        }\n      }\n    }\n  }\n\n  return true;\n}\n\nfor (const item of items) {\n  const rawText = item.json[\"Workflow JSON\"];\n  const parsed = parseWithRepair(rawText);\n  const success = isValidWorkflow(parsed);\n\n  item.json = {\n    workflow: success ? parsed : null,\n    success\n  };\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"da52f363-bf71-464c-8935-3f57dd69b668","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"353e1377-2d49-48a3-a577-8d27045975e7","leftValue":"={{ $json.success }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[416,0],"id":"3b658fc5-6ade-4cbb-b658-46a7179df3d4","name":"If"},{"parameters":{"sendTo":"={{ $('On form submission').item.json[\"Your Email\"] }}","subject":"⚠️ Workflow Submission Failed — Please Review Your JSON","message":"<!DOCTYPE html> <html lang=\"en\"> <body style=\"margin:0;padding:0;background:#f5f5f5;font-family:Arial,sans-serif;\"> <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f5f5f5;padding:32px 0;\">   <tr><td align=\"center\">     <table width=\"560\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:12px;overflow:hidden;border:1px solid #e5e5e5;\">       <tr>         <td style=\"background:#A32D2D;padding:32px 32px 24px;\">           <p style=\"margin:0 0 6px;font-size:12px;font-weight:600;color:#F7C1C1;letter-spacing:0.06em;text-transform:uppercase;\">⚠ Workflow Error</p>           <h1 style=\"margin:0;font-size:22px;font-weight:600;color:#FCEBEB;\">Workflow run failed</h1>         </td>       </tr>       <tr>         <td style=\"padding:28px 32px;\">           <p style=\"margin:0 0 20px;font-size:15px;color:#1a1a1a;line-height:1.7;\">             Your n8n workflow was unable to complete successfully. The submitted input could not be processed.           </p>           <div style=\"background:#fef2f2;border-left:3px solid #E24B4A;border-radius:0 8px 8px 0;padding:14px 16px;margin-bottom:24px;\">             <p style=\"margin:0 0 4px;font-size:12px;font-weight:600;color:#888;\">LIKELY CAUSE</p>             <p style=\"margin:0;font-size:14px;color:#1a1a1a;\">Invalid or malformed workflow JSON was submitted through the form.</p>           </div>           <p style=\"margin:0 0 16px;font-size:14px;color:#666;line-height:1.7;\">Please review the following before trying again:</p>           <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;\">             <tr><td style=\"padding:10px 0;border-bottom:1px solid #f0f0f0;font-size:14px;color:#1a1a1a;\">✅&nbsp; The JSON was exported directly from n8n and is unmodified</td></tr>             <tr><td style=\"padding:10px 0;border-bottom:1px solid #f0f0f0;font-size:14px;color:#1a1a1a;\">✅&nbsp; The pasted content is valid JSON (no trailing commas or missing brackets)</td></tr>             <tr><td style=\"padding:10px 0;font-size:14px;color:#1a1a1a;\">✅&nbsp; The form field was not left empty or partially filled</td></tr>           </table>           <div style=\"border-top:1px solid #f0f0f0;padding-top:20px;\">             <p style=\"margin:0;font-size:12px;color:#999;line-height:1.6;\">               This is an automated message from your n8n workflow. If the problem persists after retrying with valid JSON, please check your workflow configuration or contact your administrator.             </p>           </div>         </td>       </tr>     </table>   </td></tr> </table> </body> </html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[624,-34.7890625],"id":"3a408982-e855-4d0a-a186-365fa194a927","name":"Send a message","webhookId":"ba028aea-85dc-4f9b-a7f5-280cf29e7cab","credentials":{"gmailOAuth2":{"id":"CrZDjM4iPVOsPaec","name":"Gmail OAuth2 API"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.3,"position":[624,96],"id":"0b372b69-3811-474d-b1b1-38d7a2b8d317","name":"Message a model","credentials":{"openAiApi":{"id":"nd3jsxwTHwLjr2UH","name":"n8n free OpenAI API credits"}}}],"connections":{"On form submission":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Send a message","type":"main","index":0}],[{"node":"Message a model","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true,"instanceId":"c12f628b22583c70e4dca469116ed48cb0e578a4bf671b6f87f63bd78fbf23f2"}}