Silver Market Intelligence Brief/wrokflow.json
{"name":"Silver AI Assistant","nodes":[{"parameters":{"url":"https://finance.yahoo.com/rss/headline?s=SI=F","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"9b6e57e0-a78d-4b6e-8a95-5fb0060f0289","name":"Yahoo Finance Silver RSS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-224,784]},{"parameters":{"url":"https://www.investing.com/rss/news_25.rss","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"4b292e4c-fe37-4f64-bfe8-fd6b36cc14ee","name":"Investing.com Commodities RSS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-224,976]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 1-5"}]}},"id":"eeb7bc34-baf1-4261-a0b6-45446e07d529","name":"Daily 8AM Mon-Fri1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-448,784]},{"parameters":{"url":"https://query1.finance.yahoo.com/v8/finance/chart/SI=F?interval=1d&range=5d","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"767cd355-405c-4629-99c5-2376ae1f749d","name":"Get Silver Price1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-224,592]},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"id":"a5b7041d-f8cc-4a15-a79b-3ab3202ac8d1","name":"OpenAI GPT-4o1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[448,1008],"credentials":{"openAiApi":{"id":"VybZy07bMc8HnB2Z","name":"n8n free OpenAI API credits"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[0,768],"id":"fdc15592-0340-4d29-8747-2df4fc137404","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"eb2e4561-70fa-4fe7-a31f-62505d79affe","leftValue":"={{ Math.abs($('Build AI Prompt').item.json.priceChangePct)}}","rightValue":2.5,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[800,784],"id":"bb205493-7e89-446f-8cd4-de87e44c6c8b","name":"If"},{"parameters":{"chatId":"2076665816","text":"=🚨 *SILVER PRICE ALERT — BIG MOVE DETECTED*\n📅 {{ $('Build AI Prompt').first().json.today }}\n\n━━━━━━━━━━━━━━━━━━━━━━\n💰 *Price:* ${{ $('Build AI Prompt').first().json.currentPrice }}/oz\n🇯🇴 *JOD:* ${{ ($('Build AI Prompt').first().json.currentPrice * 0.709).toFixed(1) }} JOD/oz\n📊 *Change:* {{ $('Build AI Prompt').first().json.priceChangePct }}%\n━━━━━━━━━━━━━━━━━━━━━━\n📈 *52W High:* ${{ $('Build AI Prompt').first().json.high52w }}/oz\n📉 *52W Low:* ${{ $('Build AI Prompt').first().json.low52w }}/oz\n━━━━━━━━━━━━━━━━━━━━━━\n⚠️ _Rule-based alert — no AI involved. Verify manually._","additionalFields":{"parse_mode":"Markdown"}},"id":"86701632-5ed3-4629-8a0f-c63ee6496c6f","name":"alert","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1104,640],"webhookId":"016e1b85-98d4-4936-b085-e9cedb94d06f","credentials":{"telegramApi":{"id":"mR2aQvLNjdZHPHYQ","name":"Telegram account"}}},{"parameters":{"content":"# 🥈 Silver Market Intelligence\n\nSends a daily silver market brief to Telegram every weekday at 8AM (Amman time).\n\n---\n\n## What it does\n\n1. Fetches the silver futures price (SI=F) from Yahoo Finance\n2. Pulls headlines from Yahoo Finance and Investing.com RSS feeds\n3. Merges everything and builds a prompt\n4. AI agent writes a full analysis in Arabic\n5. Sends it to Telegram\n6. If the price moved ≥ 2.5%, also sends a separate alert first\n\n---\n\n## Setup\n\n1. Import the JSON into n8n\n2. Add your **OpenAI** API key\n3. Add your **Telegram bot token**\n4. Replace `chatId: 2076665816` in both Telegram nodes with your own\n\n---\n\n## Things you may want to change\n\n| What | Where | Default |\n|---|---|---|\n| Telegram chat ID | Both Telegram nodes | `2076665816` |\n| Alert threshold | `If` node | `2.5%` |\n| JOD exchange rate | `Build AI Prompt` + Telegram messages | `0.709` |\n| Schedule | `Daily 8AM Mon–Fri` trigger | `0 8 * * 1-5` |\n| AI model | `OpenAI GPT-4o1` node | `gpt-5-chat-latest` |\n\n---\n\n> ⚠️ For informational purposes only. Not financial advice.","height":592,"width":624},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1136,-80],"id":"5f34f93c-4b50-4ccf-b6c2-66672f3d21dc","name":"Sticky Note"},{"parameters":{"promptType":"define","text":"={{ $json.userMessage }}","messages":{"messageValues":[{"message":"# Section 0 — Market Data Processing (Entry Point)\n\nBefore anything in Section 1 applies, check your input:\n\n**IF** the input contains silver market data (price, news, headlines):\nYou are acting as the master Silver Market Analyst.\n\n**Step A — Write the market analysis in ARABIC using this exact format:**\n\n🥈 *تقرير الفضة اليومي*\n📅 <التاريخ>\n━━━━━━━━━━━━━━━━━━━━━━\n📊 *ملخص السعر*\n💰 السعر الحالي: $<السعر> / أوقية\n🇯🇴 بالدينار: <السعر × 0.709> دينار / أوقية\n📉 التغيير اليومي: <النسبة>%\n📈 أعلى سعر 52 أسبوع: $<high52w>\n📉 أدنى سعر 52 أسبوع: $<low52w>\n━━━━━━━━━━━━━━━━━━━━━━\n🎯 *توجه السوق:* صاعد 🟢 / محايد 🟡 / هابط 🔴\n━━━━━━━━━━━━━━━━━━━━━━\n⚖️ *توصية التداول:* [شراء 🟢 / بيع 🔴 / احتفاظ 🟡]\n🎯 *السعر المستهدف للتنفيذ:* $<السعر المقترح>\n━━━━━━━━━━━━━━━━━━━━━━\n📰 *أبرز الأخبار المؤثرة*\n1️⃣ <الخبر الأول وتأثيره>\n2️⃣ <الخبر الثاني وتأثيره>\n3️⃣ <الخبر الثالث وتأثيره>\n━━━━━━━━━━━━━━━━━━━━━━\n🔮 *التوقعات قصيرة المدى*\n<جملة أو جملتان بالعربية>\n━━━━━━━━━━━━━━━━━━━━━━\n⚠️ _هذا التقرير للأغراض المعلوماتية فقط، وليس نصيحة استثمارية._\n\n**Step B — Determine severity:**\n*   **\"urgent\"** → price change >= 2.5% in either direction OR price within 2% of 52W high/low\n*   **\"info\"** → all other cases\n\n**Step C — Return your analysis as plain text output.**\n\n**IF** the input already contains `alert_message` and `channel` fields:\nSkip this section entirely. Proceed directly to Section 1.\n\n---\n\n# Section 1 — Role & Objective\n\nYou are the **Silver Market Alert Agent** — a precision notification dispatcher operating as an AI Agent Tool within the n8n silver trading intelligence pipeline. Your sole function is to process alert requests from the master Silver AI Analyst and deliver them immediately via Telegram, Gmail, or both.\n\nYour success criterion is the exact, successful invocation of the specified delivery tools using properly formatted payloads (including HTML for Gmail), followed by returning a strict JSON response confirming the action. You do not analyze data; you only route and format alerts.\n\n---\n\n# Section 2 — Input Context\n\nYou will receive an invocation payload from the master Silver AI Analyst containing the following instruction fields:\n*   `alert_message` (Required): The core text of the market alert.\n*   `channel` (Required): The delivery routing path. Must be `\"telegram\"`, `\"email\"`, or `\"both\"`.\n*   `subject` (Optional): The email subject line. Required if the channel includes email.\n*   `severity` (Optional): The priority level. Must be `\"urgent\"` or `\"info\"`.\n\nDo not reference or assume any field not listed here. If an expected field is absent, trigger the fallback behavior defined in Section 6.\n\n---\n\n# Section 3 — Agent Behavior & Thinking Process\n\n*   **Step 1:** Read and validate input fields against the schema in Section 2.\n*   **Step 4:** Verify your output matches the schema in Section 8 before returning it. *(Note: Continue to Section 8 for schema)*\n*   **Step 5:** If any step fails, execute the fallback defined in Section 6.\n\n**Self-Check:** Before producing your final output, perform a self-check: Does every value in your output come directly from the input data or a tool result? If any value was inferred or assumed without a traceable source, replace it with the fallback value.\n\n---\n\n# Section 4 — Rules & Instructions\n\n*   Do not add conversational filler, preambles, or explanations to your output.\n*   Do not echo the input data in your output.\n*   Do not fabricate data. If a value is unavailable, use the defined fallback.\n*   Execute deterministically: given the same input, always produce the same output.\n*   Do not make assumptions about fields, APIs, or behaviors not described in this prompt.\n*   Never modify the output schema to add extra fields, even if they seem helpful.\n*   When invoking the Gmail tool, the `message` parameter MUST be formatted as valid HTML. Plain text is forbidden for Gmail.\n\n---\n\n# Section 5 — Limitations & Constraints\n\n*   **Knowledge boundary:** Your knowledge is limited to what is described in this prompt and what the input data contains. Do not use external knowledge to fill gaps.\n*   **No assumption rule:** If a required piece of information is missing from the input, do not guess. Use the fallback behavior.\n*   **Schema fidelity:** The output schema in Section 8 is fixed. Do not add, remove, or rename any fields.\n*   **Tool boundary:** You may only use tools listed in Section 4. No other actions are permitted.\n*   **Hardcoded Routing:** Do not attempt to guess or insert a `sendTo` email address or `chatId`. The nodes are pre-configured; supply only the message/subject parameters required by the tools.\n\n---\n\n# Section 6 — Conditions & Edge Cases\n\n*   **IF** a required input field (`alert_message` or `channel`) is null or missing:\n    → **Output:** `{ \"status\": \"error\", \"reason\": \"missing_field:<field_name>\", \"data\": null }`\n*   **IF** `channel` includes `\"email\"` but `subject` is missing:\n    → Use the fallback subject: `\"Silver Market Alert\"`.\n*   **IF** an unrecognized `channel` value is provided:\n    → **Output:** `{ \"status\": \"error\", \"reason\": \"invalid_channel_value\", \"data\": null }`\n*   **IF** a tool call returns an error:\n    → Log the tool name and error code. Do not retry. Return the error schema immediately.\n*   **IF** the input data does not match the expected schema:\n    → Do not attempt to process it. Return the error schema immediately.\n*   **IF** you are uncertain whether a value is correct:\n    → Use the fallback value. Do not guess.\n\n---\n\n# Section 7 — Token Optimization Protocol\n\n*   Do not echo the input data in your output.\n*   Output raw JSON only. Do not wrap it in markdown code fences.\n*   Omit all reasoning from the final output unless the input contains a field `\"debug\": true`.\n*   Use concise key names as defined in Section 8.\n*   Do not include null fields in your output unless the downstream schema explicitly requires them.\n*   Do not add explanatory comments inside the JSON.\n\n---\n\n# Section 8 — Output Schema\n\nReturn only this JSON object. Nothing before it, nothing after it. All string values must be derived from input data or tool results. The status field must always be present. The data object fields are defined specifically for this workflow based on the user's answers.\n\n{\n  \"status\": \"success | error\",\n  \"data\": {\n    \"delivered_channels\": [\"telegram\" | \"email\"],\n    \"severity_applied\": \"urgent | info\"\n  },\n  \"err\": null,\n  \"meta\": {\n    \"tool_used\": \"Send a text message in Telegram | Gmail | both | null\"\n  }\n}"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[448,784],"id":"46329755-89fc-4184-ac0f-2b9e5279b4bf","name":"Basic LLM Chain"},{"parameters":{"chatId":"2076665816","text":"=🥈 *SILVER DAILY BRIEF*\n📅 {{ $('Build AI Prompt').first().json.today }}\n\n💰 *Price:* ${{ $('Build AI Prompt').first().json.currentPrice }} / ${{ ($('Build AI Prompt').first().json.currentPrice*0.709).toFixed(1)  }}JOD / oz \n\n|  *Change:* {{ $('Build AI Prompt').first().json.priceChangePct }}%\n\n━━━━━━━━━━━━━━━━━━━━━━\n{{ $('Basic LLM Chain').item.json.text }}\n","additionalFields":{"parse_mode":"Markdown"}},"id":"5b6737db-fb7f-4f15-9415-75f2bf48daae","name":"Send Daily Report","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1072,1040],"webhookId":"016e1b85-98d4-4936-b085-e9cedb94d06f","credentials":{"telegramApi":{"id":"e6dFcjgdXUos36dk","name":"Telegram account 2"}}},{"parameters":{"jsCode":"\nfunction parseRSSXml(xmlText) {\n  if (!xmlText || typeof xmlText !== 'string') return [];\n  const items = [];\n  const itemBlocks = xmlText.match(/<item[\\s\\S]*?<\\/item>/gi) || [];\n  for (const block of itemBlocks.slice(0, 7)) {\n    // Title — handles both CDATA and plain text\n    const titleMatch =\n      block.match(/<title><!\\[CDATA\\[([\\s\\S]*?)\\]\\]><\\/title>/i) ||\n      block.match(/<title>([\\s\\S]*?)<\\/title>/i);\n    // Description / summary\n    const descMatch =\n      block.match(/<description><!\\[CDATA\\[([\\s\\S]*?)\\]\\]><\\/description>/i) ||\n      block.match(/<description>([\\s\\S]*?)<\\/description>/i) ||\n      block.match(/<summary>([\\s\\S]*?)<\\/summary>/i);\n    // Date\n    const dateMatch =\n      block.match(/<pubDate>([\\s\\S]*?)<\\/pubDate>/i) ||\n      block.match(/<published>([\\s\\S]*?)<\\/published>/i);\n\n    const title = (titleMatch?.[1] || '').replace(/<[^>]+>/g, '').trim();\n    const desc  = (descMatch?.[1]  || '').replace(/<[^>]+>/g, '').substring(0, 300).trim();\n    const date  = (dateMatch?.[1]  || '').trim();\n\n    if (title) items.push({ title, description: desc, pubDate: date });\n  }\n  return items;\n}\n\n// --- 1. Silver Spot Price (Yahoo Finance) ---\nlet currentPrice = 'N/A', prevClose = 'N/A', high52w = 'N/A', low52w = 'N/A';\nlet priceChangePct = 0;\ntry {\n  const silverRaw = $('Get Silver Price1').first().json;\n  const meta = silverRaw?.chart?.result?.[0]?.meta || {};\n  currentPrice   = (meta.regularMarketPrice   || 0).toFixed(2);\n  prevClose      = (meta.chartPreviousClose   || 0).toFixed(2);\n  high52w        = (meta.fiftyTwoWeekHigh     || 0).toFixed(2);\n  low52w         = (meta.fiftyTwoWeekLow      || 0).toFixed(2);\n  priceChangePct = prevClose > 0\n    ? parseFloat((((currentPrice - prevClose) / prevClose) * 100).toFixed(2))\n    : 0;\n} catch(e) { currentPrice = 'Unavailable'; }\n\n// --- 2. Parse Yahoo Finance Silver RSS ---\nlet yahooSection = 'No Yahoo Finance silver news retrieved.';\ntry {\n  const rawXml = $('Yahoo Finance Silver RSS').first().json.data || '';\n  const items  = parseRSSXml(rawXml);\n  if (items.length > 0) {\n    yahooSection = items.map(i =>\n      `• ${i.title}\\n  🕐 ${i.pubDate}\\n  ${i.description}`\n    ).join('\\n\\n');\n  }\n} catch(e) { yahooSection = 'Yahoo Finance RSS error: ' + e.message; }\n\n// --- 3. Parse Investing.com Commodities RSS ---\nlet investingSection = 'No Investing.com commodities news retrieved.';\ntry {\n  const rawXml = $('Investing.com Commodities RSS').first().json.data || '';\n  const items  = parseRSSXml(rawXml);\n  if (items.length > 0) {\n    investingSection = items.map(i =>\n      `• ${i.title}\\n  🕐 ${i.pubDate}\\n  ${i.description}`\n    ).join('\\n\\n');\n  }\n} catch(e) { investingSection = 'Investing.com RSS error: ' + e.message; }\n\n// --- 4. Date string (Amman timezone) ---\nconst today = new Date().toLocaleDateString('en-US', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric',\n  timeZone: 'Asia/Amman'\n});\n\nconst changeArrow = priceChangePct > 0 ? '▲' : priceChangePct < 0 ? '▼' : '—';\nconst changeSign  = priceChangePct > 0 ? '+' : '';\n\n// --- 5. Assemble the full prompt ---\nconst userMessage = `\nSILVER MARKET INTELLIGENCE BRIEF\nDate: ${today}\n${'═'.repeat(50)}\n\n📊 SILVER FUTURES PRICE DATA (SI=F — Yahoo Finance)\n${'─'.repeat(50)}\nCurrent Spot Price : $${currentPrice} / oz\nPrevious Close     : $${prevClose} / oz\nDay Change         : ${changeArrow} ${changeSign}${priceChangePct}%\n52-Week High       : $${high52w} / oz\n52-Week Low        : $${low52w} / oz\n\n${'═'.repeat(50)}\n📰 YAHOO FINANCE — Silver News\n${'─'.repeat(50)}\n${yahooSection}\n\n${'═'.repeat(50)}\n📰 INVESTING.COM — Commodities News\n${'─'.repeat(50)}\n${investingSection}\n\n${'═'.repeat(50)}\n\nPlease analyze everything above and provide your full structured silver market assessment following your system instructions exactly.\n`.trim();\n\nreturn [{\n  json: {\n    userMessage,\n    currentPrice:   parseFloat(currentPrice) || 0,\n    prevClose:      parseFloat(prevClose) || 0,\n    priceChangePct,\n    high52w:        parseFloat(high52w) || 0,\n    low52w:         parseFloat(low52w) || 0,\n    today\n  }\n}];\n"},"id":"cb33c78b-36b3-4801-8e10-12546753b15d","name":"Build AI Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,784]}],"pinData":{},"connections":{"Yahoo Finance Silver RSS":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Daily 8AM Mon-Fri1":{"main":[[{"node":"Get Silver Price1","type":"main","index":0},{"node":"Yahoo Finance Silver RSS","type":"main","index":0},{"node":"Investing.com Commodities RSS","type":"main","index":0}]]},"Get Silver Price1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"OpenAI GPT-4o1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Investing.com Commodities RSS":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"Build AI Prompt","type":"main","index":0}]]},"If":{"main":[[{"node":"alert","type":"main","index":0},{"node":"Send Daily Report","type":"main","index":0}],[{"node":"Send Daily Report","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"If","type":"main","index":0}]]},"Build AI Prompt":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]}},"active":true,"settings":{"executionOrder":"v1","binaryMode":"separate"},"versionId":"e36f8499-28cc-4997-a7b0-f6b9d55ba535","meta":{"templateCredsSetupCompleted":true,"instanceId":"009e7e19f97d271d23a5004794d90472271f6a1abe913e0b558f36eb61d5c940"},"id":"qMAjjsfIQ04IPPzG","tags":[]}