Chat Message Handler/wrokflow.json
{"name":"Chatbot","nodes":[{"parameters":{"public":true,"initialMessages":"={$now}","options":{"allowedOrigins":"http://localhost:3000"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[160,-48],"id":"121c3ad7-b3c2-4db5-85f0-00354bdfd487","name":"When chat message received","webhookId":"4f583a14-9da5-4b42-a50b-8a07308e3a44"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=## Role & Identity\nYou are an intelligent assistant for **Family and Childhood Protection Society**. Your job is to help users discover, explore, and get information about **this Society** registered in the system. You are helpful, accurate, and professional.\n\n---\n\n## TOKEN OPTIMIZATION STRATEGY — ALWAYS FOLLOW THIS\n\n### Rule 1 — Never call the tool unnecessarily\nOnly call organization_data when the user is clearly asking about organization data. Do NOT call the tool for:\n- Greetings (\"hi\", \"hello\", \"مرحبا\")\n- Platform/self questions (\"what are you?\", \"what can you do?\")\n- Follow-up questions already answered by data in the current conversation\n- Thank you messages or confirmations (\"ok\", \"thanks\", \"شكرا\")\n- Clarification exchanges where you are still gathering what the user wants\n\n### Rule 2 — Use conversation memory before calling the tool\nIf the user asks a follow-up question about the organization already fetched earlier in the conversation (e.g., \"what is their mission?\", \"and the phone number?\"), answer directly from the data already retrieved. Do NOT call the tool again.\n\n### Rule 3 — Return only what was asked\nNever return all fields when the user asked for one specific thing.\n- \"What is their phone?\" → Return phone only.\n- \"What is the mission?\" → Return mission only.\n- \"Tell me about them\" → Return name, tagline, about, location, founded_year only. Skip contact and social unless asked.\n\n### Rule 4 — Keep responses short and focused\nAnswer what was asked. Do not add unrequested context, extra suggestions, or filler sentences. One clear answer is better than a long answer with padding.\n\n### Rule 5 — Do not repeat data already shown\nIf you already displayed the organization's name or details earlier in the conversation, do not repeat them again in the next message unless the user specifically requests it.\n\n---\n\n## Scope Restriction — CRITICAL\nYou are exclusively the assistant of **Family and Childhood Protection Society**. You only provide information about this one organization.\n\n- If the user asks about any other organization, politely clarify that you can only assist with information related to Family and Childhood Protection Society.\n- Never fetch, display, or compare data for any organization other than Family and Childhood Protection Society.\n- Do not list or reference other organizations under any circumstances.\n\n---\n\n## Data Access\nYou have access to a tool called **organization_data** that returns data from the database. Always filter results to **Family and Childhood Protection Society only**, and ignore any other organizations that may appear in the results.\n\n### Available Fields:\n| Field | Description |\n|---|---|\n| `name` | Organization name |\n| `tagline` | Short slogan or tagline |\n| `about` | General description of the organization |\n| `mission` | The organization's mission statement |\n| `vision` | The organization's vision statement |\n| `founded_year` | Year the organization was founded |\n| `phone` | Contact phone number |\n| `email` | Contact email address |\n| `website_url` | Official website |\n| `social` | Social media links (facebook, twitter, youtube, etc.) |\n| `logo_url` | Organization logo image URL |\n| `metadata.location` | City and country |\n| `metadata.sectors` | Sectors the organization works in (JSON array string) |\n| `metadata.centers` | Centers or sub-units under the organization (JSON array string) |\n| `lang` | Language of the translation row (`ar` or `en`) |\n\n---\n\n## Language Behavior\n- Detect the user's language automatically from their message.\n- If the user writes in Arabic, respond fully in Arabic using the `lang: \"ar\"` rows.\n- If the user writes in English, respond fully in English using the `lang: \"en\"` rows.\n- If a translation for the requested language does not exist, use the available language and politely note it.\n- Never mix languages in a single response unless the user explicitly asks.\n- Use one emoji maximum per message. If the emoji does not naturally fit the message, do not use one at all.\n\n---\n\n## Entity Recognition — CRITICAL\nWhen a user refers to any entity without naming it explicitly, always assume they mean **Family and Childhood Protection Society**.\n\n### Words that always mean \"the organization\":\nCompany, charity, charitable society, society, association, foundation, organization, institution, body, entity, NGO, nonprofit, جمعية، مؤسسة، منظمة، هيئة، شركة، جهة\n\n### Contextual self-referral — DO NOT call the tool:\nIf the user asks any of the following with no specific name mentioned:\n- \"What is this?\", \"What are you?\", \"What is this website?\", \"What is this platform?\"\n- \"What can you do?\", \"How can you help me?\", \"What do you offer?\"\n- \"Who are you?\", \"Tell me about yourself\"\n- \"ما هذا؟\", \"ما هو الموقع؟\", \"من أنت؟\", \"ماذا تقدم؟\", \"كيف تقدر تساعدني؟\"\n\nRespond with this introduction (adapt to user language), no tool call needed:\n\n\"I'm the AI assistant for **Family and Childhood Protection Society**. I can help you:\n- Learn about the Society's mission, vision, and work\n- Find contact information and social media links\n- Discover the centers and sectors the Society operates in\n- Answer any questions you have about the Society\n\nJust ask me anything!\"\n\n### Mid-conversation unnamed references:\nIf the user says \"their mission\", \"its website\", \"what about them\" — always refer to Family and Childhood Protection Society. Do not call the tool again if data is already available.\n\n---\n\n## How to Use the Tool\n- Always call the tool before answering any question about organization data that is not already in the conversation memory.\n- Only extract and use data belonging to **Family and Childhood Protection Society**. Discard all other results.\n- If data seems missing from main fields, always check the `metadata` column before saying it does not exist.\n\n---\n\n## Query Cases You Must Handle\n\n### 1. Organization Details\n- \"Tell me about the Society\" → Return name, tagline, about, founded_year, location only.\n- \"What is the mission?\" → Return mission only.\n- \"What is the vision?\" → Return vision only.\n- \"What centers does the Society have?\" → Parse and list `metadata.centers` only.\n- \"What sectors does the Society cover?\" → Parse and list `metadata.sectors` only.\n\n### 2. Contact Information\n- \"How can I contact the Society?\" → Return phone, email, website_url, and social links.\n- \"What is the website?\" → Return website_url only.\n- \"Social media?\" → Return social links only.\n- Always suggest the user can reach out via the Contact Us page on the platform.\n\n### 3. Founding / History\n- \"When was the Society founded?\" → Return founded_year only.\n\n### 4. Vague or Unclear Queries\n- Ask one focused clarifying question before calling the tool.\n- Never ask more than one clarifying question at a time.\n\n---\n\n## Response Formatting Rules\n- Use clean formatting — bullet points, bold labels, short paragraphs.\n- For contact info, use a structured block.\n- Never show raw JSON or field names to the user.\n- Always parse `metadata.sectors` and `metadata.centers` from JSON string into readable lists.\n\n---\n\n## Boundaries & Fallbacks\n- Questions about other organizations: \"I'm only able to assist with information about Family and Childhood Protection Society.\"\n- No data found: \"I couldn't find that information. Please try again or contact the Society directly.\"\n- Tool error or empty result: apologize and suggest the user try again.\n- Off-topic questions: \"I'm here to help you find information about Family and Childhood Protection Society.\"\n- Never fabricate data. Only use what the tool returns.\n\n---\n\n## CRITICAL FORMATTING RULE\nDo not use HTML tags in your responses under any circumstances. Always format using plain text only."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[512,-80],"id":"ff146159-7221-4166-a45e-347dcbdfee03","name":"AI Agent","retryOnFail":true},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.4,"position":[576,144],"id":"54caeac8-208b-464a-827e-f9cff089622c","name":"Simple Memory"},{"parameters":{"operation":"getAll","tableId":"organization_full"},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[800,144],"id":"6a1ff505-bba2-40dc-9ee9-abbff3dcbf53","name":"organization data","credentials":{"supabaseApi":{"id":"ZgDLPqN9TonB81YQ","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f96b4cbe-9724-4007-81a1-9d6d8de36142","leftValue":"={{ $json.output }}","rightValue":100,"operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[944,-80],"id":"e5f24fba-adf7-4149-a7e5-745ddb44fcfe","name":"If"},{"parameters":{"sendTo":"={{ $json.email }}","subject":"Error in workflow","message":"=<!DOCTYPE html> <html lang=\"ar\" dir=\"rtl\"> <head>   <meta charset=\"UTF-8\" />   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>   <title>تنبيه خطأ في سير العمل</title> </head> <body style=\"margin:0;padding:0;background-color:#f4f4f4;font-family:'Segoe UI',Tahoma,Arial,sans-serif;direction:rtl;\">    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f4f4;padding:40px 20px;\">     <tr>       <td align=\"center\">         <table width=\"560\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:560px;width:100%;background-color:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 2px 12px rgba(0,0,0,0.08);\">            <!-- TOP RED BAR -->           <tr>             <td style=\"background-color:#e53935;padding:20px 36px;\">               <p style=\"margin:0;color:#ffffff;font-size:18px;font-weight:bold;\">⚠️ تنبيه: خطأ في سير العمل</p>             </td>           </tr>            <!-- BODY -->           <tr>             <td style=\"padding:32px 36px;\">                <p style=\"margin:0 0 16px;color:#333333;font-size:15px;line-height:1.8;\">                 عزيزي <strong>المسؤول</strong>،               </p>                <p style=\"margin:0 0 24px;color:#555555;font-size:15px;line-height:1.8;\">                 تم رصد خطأ في أحد سير العمل التلقائية. يرجى مراجعة المشكلة في أقرب وقت ممكن لاستعادة عمل النظام بشكل طبيعي.               </p>                <!-- Details Box -->               <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#fff8f8;border:1px solid #ffcccc;border-radius:8px;margin-bottom:24px;\">                 <tr>                   <td style=\"padding:20px;\">                     <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">                       <tr>                         <td style=\"padding:8px 0;border-bottom:1px solid #ffe5e5;\">                           <span style=\"color:#999;font-size:12px;\">اسم سير العمل</span><br/>                           <span style=\"color:#333;font-size:14px;font-weight:bold;margin-top:4px;display:block;\">{{ $workflow.name }}</span>                         </td>                       </tr>                       <tr>                         <td style=\"padding:8px 0;border-bottom:1px solid #ffe5e5;\">                           <span style=\"color:#999;font-size:12px;\">وقت الخطأ</span><br/>                           <span style=\"color:#333;font-size:14px;font-weight:bold;margin-top:4px;display:block;\">{{ $now.format('yyyy-MM-dd-hh-mn') }}</span>                         </td>                       </tr>                       <tr>                         <td style=\"padding:8px 0;\">                           <span style=\"color:#999;font-size:12px;\">رسالة الخطأ</span><br/>                           <span style=\"color:#e53935;font-size:13px;margin-top:4px;display:block;\">{{ $json.output || \"لم يتم إرجاع أي مخرجات من الوكيل\" }}</span>                         </td>                       </tr>                     </table>                   </td>                 </tr>               </table>                <!-- What to do -->               <p style=\"margin:0 0 12px;color:#333;font-size:14px;font-weight:bold;\">ما الذي يجب فعله:</p>               <ul style=\"margin:0 0 28px;padding-right:20px;color:#555555;font-size:14px;line-height:2;\">                 <li>افتح لوحة تحكم n8n وراجع سير العمل المتوقف</li>                 <li>تحقق من صلاحية رمز API الخاص بك وتأكد من عدم انتهاء صلاحيته</li>                 <li>أعد تشغيل سير العمل بعد إصلاح المشكلة</li>               </ul>                <!-- Button -->               <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">                 <tr>                   <td align=\"center\">                     <a href=\"YOUR_N8N_URL\" style=\"display:inline-block;background-color:#e53935;color:#ffffff;text-decoration:none;padding:12px 32px;border-radius:6px;font-size:14px;font-weight:bold;\">                       فتح لوحة تحكم n8n                     </a>                   </td>                 </tr>               </table>              </td>           </tr>            <!-- FOOTER -->           <tr>             <td style=\"background-color:#f9f9f9;padding:16px 36px;border-top:1px solid #eeeeee;\">               <p style=\"margin:0;color:#aaaaaa;font-size:12px;text-align:center;\">                 هذه رسالة تلقائية — يرجى عدم الرد عليها               </p>             </td>           </tr>          </table>       </td>     </tr>   </table>  </body> </html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1792,32],"id":"e00986e3-ceee-479c-96a5-9d297a2af611","name":"Send a message","webhookId":"8826ca46-6069-463e-97a9-6e9ecbfb76bc","retryOnFail":true,"credentials":{"gmailOAuth2":{"id":"AUgFBf6m6WNcRIcZ","name":"Gmail OAuth2 API"}}},{"parameters":{"operation":"getAll","tableId":"users","limit":10,"filters":{"conditions":[{"keyName":"role","condition":"eq","keyValue":"admin"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1216,32],"id":"54c1b4e6-b65e-4219-a46b-8688e8812810","name":"get admin email","retryOnFail":true,"credentials":{"supabaseApi":{"id":"ZgDLPqN9TonB81YQ","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f96b4cbe-9724-4007-81a1-9d6d8de36142","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1424,32],"id":"7b950f95-fc60-46ac-b85c-a50796c0b9c7","name":"If1"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[336,144],"id":"96034faf-67ea-4501-92d9-f14093c847f2","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"VybZy07bMc8HnB2Z","name":"n8n free OpenAI API credits"}}},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[720,752],"id":"4e153455-0c7a-4cbf-be3b-377201ca7c12","name":"Error Trigger"},{"parameters":{"sendTo":"=ziedradaideh2003@gmail.com","subject":"Error in workflow","message":"=<!DOCTYPE html> <html lang=\"ar\" dir=\"rtl\"> <head>   <meta charset=\"UTF-8\" />   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>   <title>تنبيه خطأ في سير العمل</title> </head> <body style=\"margin:0;padding:0;background-color:#f4f4f4;font-family:'Segoe UI',Tahoma,Arial,sans-serif;direction:rtl;\">    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f4f4;padding:40px 20px;\">     <tr>       <td align=\"center\">         <table width=\"560\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:560px;width:100%;background-color:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 2px 12px rgba(0,0,0,0.08);\">            <!-- TOP RED BAR -->           <tr>             <td style=\"background-color:#e53935;padding:20px 36px;\">               <p style=\"margin:0;color:#ffffff;font-size:18px;font-weight:bold;\">⚠️ تنبيه: خطأ في سير العمل</p>             </td>           </tr>            <!-- BODY -->           <tr>             <td style=\"padding:32px 36px;\">                <p style=\"margin:0 0 16px;color:#333333;font-size:15px;line-height:1.8;\">                 عزيزي <strong>المسؤول</strong>،               </p>                <p style=\"margin:0 0 24px;color:#555555;font-size:15px;line-height:1.8;\">                 تم رصد خطأ في أحد سير العمل التلقائية. يرجى مراجعة المشكلة في أقرب وقت ممكن لاستعادة عمل النظام بشكل طبيعي.               </p>                <!-- Details Box -->               <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#fff8f8;border:1px solid #ffcccc;border-radius:8px;margin-bottom:24px;\">                 <tr>                   <td style=\"padding:20px;\">                     <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">                       <tr>                         <td style=\"padding:8px 0;border-bottom:1px solid #ffe5e5;\">                           <span style=\"color:#999;font-size:12px;\">اسم سير العمل</span><br/>                           <span style=\"color:#333;font-size:14px;font-weight:bold;margin-top:4px;display:block;\">{{ $workflow.name }}</span>                         </td>                       </tr>                       <tr>                         <td style=\"padding:8px 0;border-bottom:1px solid #ffe5e5;\">                           <span style=\"color:#999;font-size:12px;\">وقت الخطأ</span><br/>                           <span style=\"color:#333;font-size:14px;font-weight:bold;margin-top:4px;display:block;\">{{ $now.format('yyyy-MM-dd-hh-mn') }}</span>                         </td>                       </tr>                       <tr>                         <td style=\"padding:8px 0;\">                           <span style=\"color:#999;font-size:12px;\">رسالة الخطأ</span><br/>                           <span style=\"color:#e53935;font-size:13px;margin-top:4px;display:block;\">{{ $json.output || \"لم يتم إرجاع أي مخرجات من الوكيل\" }}</span>                         </td>                       </tr>                     </table>                   </td>                 </tr>               </table>                <!-- What to do -->               <p style=\"margin:0 0 12px;color:#333;font-size:14px;font-weight:bold;\">ما الذي يجب فعله:</p>               <ul style=\"margin:0 0 28px;padding-right:20px;color:#555555;font-size:14px;line-height:2;\">                 <li>افتح لوحة تحكم n8n وراجع سير العمل المتوقف</li>                 <li>تحقق من صلاحية رمز API الخاص بك وتأكد من عدم انتهاء صلاحيته</li>                 <li>أعد تشغيل سير العمل بعد إصلاح المشكلة</li>               </ul>                <!-- Button -->               <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">                 <tr>                   <td align=\"center\">                     <a href=\"YOUR_N8N_URL\" style=\"display:inline-block;background-color:#e53935;color:#ffffff;text-decoration:none;padding:12px 32px;border-radius:6px;font-size:14px;font-weight:bold;\">                       فتح لوحة تحكم n8n                     </a>                   </td>                 </tr>               </table>              </td>           </tr>            <!-- FOOTER -->           <tr>             <td style=\"background-color:#f9f9f9;padding:16px 36px;border-top:1px solid #eeeeee;\">               <p style=\"margin:0;color:#aaaaaa;font-size:12px;text-align:center;\">                 هذه رسالة تلقائية — يرجى عدم الرد عليها               </p>             </td>           </tr>          </table>       </td>     </tr>   </table>  </body> </html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[944,752],"id":"049a8759-b42b-4104-b3fe-aafc1378a953","name":"Send a message1","webhookId":"8826ca46-6069-463e-97a9-6e9ecbfb76bc","retryOnFail":true,"credentials":{"gmailOAuth2":{"id":"AUgFBf6m6WNcRIcZ","name":"Gmail OAuth2 API"}}},{"parameters":{"content":"this should be in other workflow and link to the main workflow ","height":352,"width":912},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[512,624],"id":"98166e99-5a16-4286-aa2f-aada8956d50b","name":"Sticky Note"}],"pinData":{},"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"organization data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"If":{"main":[[],[{"node":"get admin email","type":"main","index":0}]]},"get admin email":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Error Trigger":{"main":[[{"node":"Send a message1","type":"main","index":0}]]}},"active":true,"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"lkLANQmDaugiXFEe","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"versionId":"d175f4da-ff8d-4e24-b706-0ff9c51e723f","meta":{"templateCredsSetupCompleted":true,"instanceId":"009e7e19f97d271d23a5004794d90472271f6a1abe913e0b558f36eb61d5c940"},"id":"KWXANaXKx43xE9x5","tags":[]}