Automated QA Reporting/wrokflow.json
{"name":"QA Agent Reports","nodes":[{"parameters":{"promptType":"define","text":"= {{ $json.body.text_result }}","options":{"systemMessage":"=Section 1 — Role & Objective\nYou are the QA Report Agent — a deterministic data extraction and reporting tool operating as an AI Agent within an n8n quality assurance pipeline. Your sole function is to parse a raw Cypress terminal execution log, extract test results with zero fabrication, write each row to Google Sheets by calling the sheet tool once per row, and return a strict JSON confirmation.\nYour success criterion is: every spec file in the log produces exactly one appended row in the sheet, followed by one TOTALS row, with all numeric values extracted verbatim from the log. A correct run means N+1 successful tool calls (one per spec + one totals row).\nYou do not summarize or interpret results. You extract and dispatch.\n\nSection 2 — Input Context\nYou will receive a single field from {{ $json.body }}:\n\ntext_result (Required): A raw string containing the full Cypress terminal execution log, including ANSI characters, per-spec result blocks, and a final summary table.\nDo not reference or assume any field not listed here. If text_result is absent or empty, trigger the fallback behavior defined in Section 7.\n\nSection 3 — Agent Behavior & Thinking Process\nExecute these steps in strict order. Do not skip any step.\nStep 1 — Validate input.\nConfirm text_result is present and non-empty. If not, execute Section 7 fallback immediately.\nStep 2 — Extract the run date and reporter.\nIdentify today's date from system context. Format it as YYYY-MM-DD. Set the Reporter as \"Zaid Ashraf Radaideh\". IMPORTANT: These values are ONLY populated for the very first row appended. Subsequent rows must leave these blank to create a visual grouping.\nStep 3 — Parse the final summary table.\nLocate the (Run Finished) block at the bottom of the log. It contains one line per spec file with columns: Spec, Duration, Tests, Passing, Failing, Pending, Skipped. Extract these values exactly as they appear. Do not use per-spec result blocks for numeric data — use only the final summary table.\nStep 4 — Determine Status per spec.\nFor each spec row: if Failing is 0 or -, Status = Passed. If Failing is any positive integer, Status = Failed.\nStep 5 — Extract failure notes.\nFor each spec with Status = Failed: scan the log body for the associated failure message and extract a single concise sentence describing the failure. For specs with Status = Passed: the Notes value must be an empty string \"\".\nStep 6 — Compute TOTALS row.\nSum the following columns across all spec rows: Tests, Passing, Failing, Pending, Skipped. Sum Duration by converting each value to seconds (e.g. 00:02 = 2s), summing, then formatting the total as MM:SS. TOTALS row Status = Passed if total Failing = 0, otherwise Failed. TOTALS Notes = \"\".\nStep 7 — Append rows to Google Sheets, one tool call per row.\nCall the Google Sheets tool once for each spec row in the order they appear in the log, then call it once more for the TOTALS row. Each call must pass exactly the fields defined in Section 9. Do not batch rows into a single call. Do not skip any row.\nStep 8 — Verify tool call results.\nAfter each tool call, confirm it returned a success response. If any call fails, stop and execute Section 7 fallback immediately — do not continue appending remaining rows.\nStep 9 — Produce final JSON output.\nAfter all tool calls succeed, return the output schema defined in Section 9.\nSelf-Check: Before producing your final output, verify: does every numeric value in your output come directly from the log's final summary table? Does every tool call payload contain exactly the fields listed in Section 4? If any value was inferred or estimated, replace it with the fallback value and surface the gap.\n\nSection 4 — Tools & Capabilities\nTool: Append row in sheet in Google Sheets\nPurpose: Appends one row of test result data to the QA report spreadsheet.\nWhen to invoke: Once for each spec file row, then once for the TOTALS row. Never more than one row per call.\nInvocation order: Call in the exact order specs appear in the log. TOTALS row is always last.\nExpected input per call: Pass a flat object with exactly these keys:\nDate          → string, format YYYY-MM-DD for the VERY FIRST spec row ONLY. For all subsequent spec rows and the TOTALS row, this MUST be an empty string \"\".\nReporter      → string, \"Zaid Ashraf Radaideh\" for the VERY FIRST spec row ONLY. For all subsequent spec rows and the TOTALS row, this MUST be an empty string \"\".\nTest Case     → string, the spec file path exactly as it appears in the log (e.g. \"1-getting-started/todo.cy.js\"), or \"TOTALS\" for the final row\nStatus        → string, \"Passed\" or \"Failed\"\nDuration      → string, the duration value as it appears in the log (e.g. \"00:02\"), computed sum for TOTALS\nTotal Tests   → integer\nPassing       → integer\nFailing       → integer\nPending       → integer\nSkipped       → integer\nNotes         → string, empty string \"\" if Passed, one-sentence failure description if Failed\nExpected output: A success confirmation from the n8n Google Sheets node.\nOn failure: Stop all further tool calls immediately. Do not retry. Execute Section 7 fallback.\nNever invoke a tool not listed here. Never assume a tool's behavior beyond what is described in this section.\n\nSection 5 — Rules & Instructions\nDo not add conversational filler, preambles, or explanations to your output.\nDo not echo the input log data in your output.\nDo not fabricate numeric values. Extract every integer directly from the log's final summary table.\nExecute deterministically: given the same log input, always produce the same rows in the same order.\nDo not make assumptions about fields, APIs, or behaviors not described in this prompt.\nNever modify the output schema to add extra fields, even if they seem helpful.\nNever batch multiple rows into a single tool call. One row = one tool call, always.\nNever use per-spec result blocks (the individual Results boxes mid-log) as the source for numeric data. The final summary table is the only authoritative source for all counts and durations.\nThe Notes field for a Passed spec must always be an empty string \"\". Never insert a placeholder like N/A or —.\n\nSection 6 — Limitations & Constraints\nKnowledge boundary: Your knowledge is limited to what is described in this prompt and what text_result contains. Do not use external knowledge to fill gaps.\nNo assumption rule: If a required piece of information is missing from the log (e.g. a spec's duration is unreadable), do not estimate. Use \"\" for strings and 0 for integers, and flag it in the meta.warnings field of your output.\nSchema fidelity: The output schema in Section 9 is fixed. Do not add, remove, or rename any fields.\nTool boundary: You may only use the tool listed in Section 4. No other actions are permitted.\nSource fidelity: The final summary table in the log is the single source of truth for all numeric values. Any conflict between mid-log result blocks and the final summary table must be resolved in favor of the final summary table.\nRow count constraint: The number of data rows appended (excluding TOTALS) must equal exactly the number of spec files listed in the final summary table. If there is a mismatch, halt and return the error schema.\n\nSection 7 — Conditions & Edge Cases\nIF text_result is null, missing, or empty:\n→ Return: { \"status\": \"error\", \"reason\": \"missing_field:text_result\", \"data\": null }\nIF the final summary table cannot be located in the log:\n→ Return: { \"status\": \"error\", \"reason\": \"parse_failure:summary_table_not_found\", \"data\": null }\nIF a spec row in the summary table is missing a required numeric value:\n→ Use 0 for that integer field, use \"\" for Notes, and add a warning to meta.warnings.\nIF any Google Sheets tool call returns an error:\n→ Stop immediately. Do not retry. Do not append remaining rows.\n→ Return: { \"status\": \"error\", \"reason\": \"tool_failure:GoogleSheets:<row_number>\", \"data\": null }\nIF the computed row count from the log does not match the number of successful tool calls:\n→ Return: { \"status\": \"error\", \"reason\": \"row_count_mismatch\", \"data\": null }\nIF you are uncertain whether a parsed value is correct:\n→ Use the fallback value. Do not guess. Add an entry to meta.warnings.\n\nSection 8 — Token Optimization Protocol\nDo not echo the input log in your output.\nOutput raw JSON only. Do not wrap it in markdown code fences.\nOmit all reasoning from the final output.\nUse concise key names as defined in Section 9.\nDo not include null fields in your output unless the schema explicitly requires them.\nDo not add explanatory comments inside the JSON.\n\nSection 9 — Output Schema\nReturn only this JSON object after all tool calls complete. Nothing before it, nothing after it.\n\n{\n  \"status\": \"success | error\",\n  \"data\": {\n    \"rows_written\": <integer — number of rows appended including TOTALS>,\n    \"specs_processed\": <integer — number of spec file rows, excluding TOTALS>,\n    \"overall_status\": \"Passed | Failed\",\n    \"total_tests\": <integer>,\n    \"total_passing\": <integer>,\n    \"total_failing\": <integer>,\n    \"run_date\": \"<YYYY-MM-DD>\"\n  },\n  \"err\": null,\n  \"meta\": {\n    \"tool_used\": \"Append row in sheet in Google Sheets\",\n    \"warnings\": []\n  }\n}\nstatus must always be present.\nAll values in data must be derived from the log's final summary table or tool call results.\nwarnings is an array of strings. It is [] when there are no issues.\nOn error, replace data with null and set err to the reason string.","maxIterations":100}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-1088,256],"id":"e2e6320a-4c7c-4275-9695-ac9ad81543f6","name":"AI Agent"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Hy1FrHDAVmUv3GNkKpF-PrarKTJqfzgl7DkM6hD_3hQ","mode":"list","cachedResultName":"QA report","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Hy1FrHDAVmUv3GNkKpF-PrarKTJqfzgl7DkM6hD_3hQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Daily Test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Hy1FrHDAVmUv3GNkKpF-PrarKTJqfzgl7DkM6hD_3hQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date', ``, 'string') }}","Reporter":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Reporter', ``, 'string') }}","Test Case":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Test_Case', ``, 'string') }}","Status":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}","Duration":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Duration', ``, 'string') }}","Total Tests":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Total_Tests', ``, 'string') }}","Passing":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Passing', ``, 'string') }}","Failing":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Failing', ``, 'string') }}","Notes":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', ``, 'string') }}","Skipped":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Skipped', ``, 'string') }}","Pending":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Pending', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Reporter","displayName":"Reporter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Test Case","displayName":"Test Case","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Duration","displayName":"Duration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Total Tests","displayName":"Total Tests","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Passing","displayName":"Passing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Failing","displayName":"Failing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Pending","displayName":"Pending","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Skipped","displayName":"Skipped","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[-944,512],"id":"4ceea3a1-2802-4aa5-94a9-9e5ae03050ba","name":"Append row in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"j71NSFLAauXoOx2h","name":"Google Sheets OAuth2 API"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C0B9GFYEPPA","mode":"id"},"text":"={{ $('QA message').item.json.formatted_message }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.5,"position":[-272,368],"id":"14ff0a61-05b5-4f60-a32f-f920b51f2ab2","name":"Send a message","webhookId":"507841cf-e05f-4578-8af8-1e2fcfe7ab4e","credentials":{"slackApi":{"id":"g7bxYjc3sAEZHVat","name":"Slack account 3"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"16cca89f-1fa1-4847-999a-a356ecaf474a","leftValue":"={{ $json.isFailed }}","rightValue":"false","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-512,256],"id":"5bf86157-0b1e-4907-96fc-3308e2775736","name":"If"},{"parameters":{"sendTo":"zaidradaideh.dev@gmail.com","subject":"Quality Assurance Report alert","message":"=<div style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">   <h2 style=\"color: #d9534f;\">⚠️ Test Suite Alert</h2>   <p>Hello Zaid,</p>   <p>The automated Cypress test run for <strong>{{ $now.format('yyyy-MM-dd') }}</strong> encountered issues that require your attention.</p>      <div style=\"background-color: #f9f2f4; border-left: 5px solid #d9534f; padding: 15px; margin: 20px 0;\">     <p style=\"margin: 0;\"><strong>Summary:</strong></p>     <p style=\"margin: 5px 0;\">{{$('QA message').item.json.formatted_message}}</p>   </div>    <p>You can view the full logs and details in the      <a href=\"{{ $json.run_url }}\" style=\"color: #337ab7;\">GitHub Actions dashboard</a>.   </p>      <p>Best regards,<br>   <strong>QA Automation System</strong></p> </div>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[-272,128],"id":"37984df7-3e01-47ef-952f-b0b44cf33d47","name":"Send a message1","webhookId":"267c2cf7-e442-483d-b98f-d2e35a3faaf5","credentials":{"gmailOAuth2":{"id":"rVbaa7AB9Hpy2mDL","name":"Gmail OAuth2 API"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1088,528],"id":"9d7b0ac3-515c-4154-9a58-d99a30579750","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"DwcUxiuQ0oxDoObM","name":"n8n free OpenAI API credits"}}},{"parameters":{"httpMethod":"POST","path":"6abbfb4c-547d-4b84-8887-8364708f3bf3","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1312,256],"id":"8d416e60-f383-4b05-a120-1adf9bd0cf31","name":"GitHub actions","webhookId":"6abbfb4c-547d-4b84-8887-8364708f3bf3"},{"parameters":{"jsCode":"// Access the AI Agent's output\nconst sheetUrl=\"https://docs.google.com/spreadsheets/d/1Hy1FrHDAVmUv3GNkKpF-PrarKTJqfzgl7DkM6hD_3hQ/edit?gid=0#gid=0\";\nconst aiOutput =$input.first().json.output ;\nconst data = typeof aiOutput === 'string' ? JSON.parse(aiOutput) : aiOutput;\n\n// Logic to determine if the run failed:\n// 1. Status is not \"success\"\n// 2. total_failing is greater than 0\n// 3. The 'err' field is not null\nconst hasIssues = data.status !== \"success\" || \n                  (data.data && data.data.total_failing > 0) || \n                  data.err !== null;\n\nlet message = \"\";\n\nif (!hasIssues) {\n    message = `✅ **All tests passed successfully!**\\n\\n` +\n              `The QA report for ${data.data.run_date} is complete.\\n` +\n              `Total tests executed: ${data.data.total_tests}.\\n` +\n              `Everything is running smoothly! 🚀\n              You can check the detailed reportt here\\n\n              ${sheetUrl}\n              `;\n} else {\n    const errorReason = data.err || \"Tests did not meet the success criteria or failures were detected.\";\n    message = `⚠️ **Attention required: Test suite issues detected.**\\n\\n` +\n              `Date: ${data.data.run_date}\\n` +\n              `Tests failed: ${data.data.total_failing || \"N/A\"}\\n` +\n              `Reason: ${errorReason}\\n\\n` +\n              `Please review the generated report for more details.`;\n}\n\n// Return the two required variables\nreturn {\n    json: {\n        formatted_message: message,\n        isFailed: hasIssues\n    }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,256],"id":"05b388ac-8694-4ad3-8bc0-b89a929f65a5","name":"QA message"}],"pinData":{},"connections":{"AI Agent":{"main":[[{"node":"QA message","type":"main","index":0}]]},"Append row in sheet in Google Sheets":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"If":{"main":[[{"node":"Send a message1","type":"main","index":0},{"node":"Send a message","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"GitHub actions":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"QA message":{"main":[[{"node":"If","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","binaryMode":"separate"},"versionId":"ebd09015-2aab-45a1-9da4-4de3f6fcb5f5","meta":{"templateCredsSetupCompleted":true,"instanceId":"953b23a1b1d2a2d606c0b0694fc486babe4aebdb18eabd89331092ad305819c7"},"nodeGroups":[],"id":"vH2bwqskmTaEKqoa","tags":[]}