Slack to Post Autopilot/wrokflow.json
{"workflow":{"name":"Slack-to-Post Autopilot","nodes":[{"parameters":{"trigger":["message","file_share"],"channelId":{"__rl":true,"value":"C0B8PK20ENS","mode":"id"},"options":{}},"type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[752,1056],"id":"5dd85a62-8525-427a-8ab8-977ab776e89c","name":"Slack Trigger","webhookId":"d07651b4-86d0-4282-a69d-827b26ab8eb1","credentials":{"slackApi":{"id":"zHmS9uYPhamAf7ed","name":"Slack account 2"}}},{"parameters":{"url":"={{ $json.files }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer xoxb-11287696010291-11278705453319-yBeK3BWnLYOYZNc8pcApul08"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1648,1136],"id":"c6184535-4a26-47eb-9fe3-311954f6d329","name":"HTTP Request"},{"parameters":{"operation":"uploadFile","file":"={{ $binary.data }}","additionalFieldsFile":{"folder":"test"}},"type":"n8n-nodes-cloudinary.cloudinary","typeVersion":1,"position":[1872,1136],"id":"d125a08e-caad-48c2-a657-4d55c8e06cfd","name":"Upload an asset from file data","credentials":{"cloudinaryApi":{"id":"Lu7SpNejQ3Q5ePxs","name":"Cloudinary account"}}},{"parameters":{"jsCode":"// Ensure we received input items from the Slack Trigger\nif (!$input) {\n  return [{ json: { status: \"failed\", reason: \"No data received from Slack trigger.\" } }];\n}\n\nconst text =$input.first().json.text ;\nconst files = $input.first().json.files|| [];\n\n// 1. Validation Logic\nconst isTextValid = text.trim().length > 12;\nconst hasImages = files.length > 0;\n\n// 2. Conditional Output If validation fails\nif (!isTextValid || !hasImages) {\n  let failureReason = \"\";\n  if (!isTextValid && !hasImages) failureReason = \"Text is too short (under 12 chars) and no images found.\";\n  else if (!isTextValid) failureReason = \"Text is too short (must be more than 12 characters).\";\n  else failureReason = \"No images found in the message.\";\n\n  return [{\n    json: {\n      status: \"failed\",\n      reason: failureReason,\n      text: text,\n      files_count: files.length\n    }\n  }];\n}\n\n// 3. Return formatted payload if validation succeeds\nreturn [{\n  json: {\n    status: \"success\",\n    text: text.trim(),\n    files: files.map(file => (\n     file.url_private\n    ))\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[976,1056],"id":"d606afcf-dfef-4e9e-9f31-956d0fd9a35f","name":"Code in JavaScript"},{"parameters":{"fieldToSplitOut":"files","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1424,1136],"id":"0ddc710b-08c5-42b0-933a-9280c725ba51","name":"Split Out"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C0B8PK20ENS","mode":"id"},"text":"=Error in creating post\nmore info\n","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.5,"position":[3568,960],"id":"3951e5ea-9f39-43f6-96ce-1b558a887df7","name":"Failed message","webhookId":"eebad13d-0a0c-4005-8b3a-55806872cbea","credentials":{"slackApi":{"id":"zHmS9uYPhamAf7ed","name":"Slack account 2"}}},{"parameters":{"jsCode":"let status_code = 200; \n\n// Collect all uploaded image URLs from Cloudinary\nconst imageUrls = $input.all()\n  .map(item => item.json.secure_url || item.json.url)\n  .filter(Boolean);\n\n// Get the original article text from the validation node\nconst articleText = $('Code in JavaScript').first().json.text || \"\";\n\n// Validate inputs\nif (articleText === \"\" || imageUrls.length === 0) {\n  status_code = 500;\n}\n\n// Create the combined string for the LLM\nconst userPrompt = JSON.stringify({\n  status_code: status_code,\n  articleText: articleText,\n  imageUrls: imageUrls\n}, null, 2);\n\nreturn [{\n  json: {\n    status_code,\n    articleText,\n    imageUrls,\n    userPrompt\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,1136],"id":"106b7074-5ad5-48c3-862b-9581d544f895","name":"Build user prompt"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C0B8PK20ENS","mode":"id"},"text":"={{ `*Post successfully created* 🎉🎉\n\n*Details:*\n• *Post ID:* ${$('create post').first().json.id}\n• *Title (Arabic):* ${$('create translation post in Arabic').first().json.title}\n• *Title (English):* ${$('create translation post in English').first().json.title}` }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.5,"position":[3568,1248],"id":"d9b8f96d-d690-456c-8883-d4b69255ce84","name":"Success message","webhookId":"eebad13d-0a0c-4005-8b3a-55806872cbea","credentials":{"slackApi":{"id":"zHmS9uYPhamAf7ed","name":"Slack account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"445df435-68f6-423b-980f-15011eeb6488","leftValue":"={{ $json.status }}","rightValue":"failed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1200,1056],"id":"1f67df27-e888-4076-b964-18990f2f0ff0","name":"If images or text are missing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c34a667f-dbc6-4fa1-8df8-646e6be67afa","leftValue":"={{ $json.status_code }}","rightValue":"={{200}}","operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2320,1136],"id":"044b7f72-50c0-4d03-a2d9-3714c94e73c5","name":"If uploading images failed"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"GPT-5-MINI"},"responses":{"values":[{"content":"={{ $json.userPrompt }}"},{"role":"system","content":"=# Role & Objective\n\nYou are the **Post Data Formatter**. You have no tools. You execute no database queries. You make no external API calls. Your sole objective: receive a JSON input, generate all missing content fields, and return one valid JSON object mapped to the exact structure of the `posts` and `post_translations` database tables.\n\n---\n\n# Input\n\nYou will always receive exactly this object:\n\n```json\n{\n  \"status_code\": 200,\n  \"articleText\": \"<raw article string>\",\n  \"imageUrls\": [\"<cloudinary url 1>\", \"<cloudinary url 2>\"]\n}\n```\n\nIf `status_code` is not `200`, return this and stop:\n\n```json\n{ \"status\": \"error\", \"reason\": \"upstream_failure:status_code_not_200\" }\n```\n\n---\n\n# Step 1 — Detect User Overrides\n\nScan `articleText` for lines matching these patterns before generating anything. If found, use the declared value verbatim and remove the declaration line from the article body:\n\n- `title: <value>`\n- `description: <value>`\n- `excerpt: <value>`\n- `tags: <value>`\n- `type: <value>`\n- `slug: <value>`\n\nIf a field has no declaration, generate it using the rules in Step 2.\n\n---\n\n# Step 2 — Field Generation Rules\n\n## `base_post.type`\n\nAllowed values: `\"posts\"`, `\"activities\"`, `\"news\"` — nothing else.\n\n| Priority | Condition | Result |\n|---|---|---|\n| 1 | User declared `type:` and value is in `[\"posts\",\"activities\",\"news\"]` | Use declared value |\n| 2 | User declared `type:` but value is NOT in that list | Use `\"posts\"` |\n| 3 | No declaration — text reports a specific recent event or announcement | Use `\"news\"` |\n| 4 | No declaration — text describes a program, campaign, or organizational event | Use `\"activity\"` |\n| 5 | No declaration — opinion, analysis, essay, or ambiguous | Use `\"posts\"` |\n\n## `base_post.tags`\n\nGenerate an array of 3–6 concise Arabic keyword strings from the article's core themes.\nExample: `[\"الطفولة\", \"التعليم\", \"الصحة النفسية\"]`\nIf user declared `tags:`, parse the declared value into an array and use it.\n\n## `base_post.metadata`\n\nAlways structured as:\n```json\n{ \"images\": [ ...imageUrls ] }\n```\nPopulate with the complete `imageUrls` array from input. `metadata.images` must never be empty.\n\n## `translations[0]` — Arabic\n\n| Field | Value |\n|---|---|\n| `lang` | Hardcoded `\"ar\"` |\n| `title` | User override if declared. Otherwise: 5–10 word Arabic title capturing the article's main theme. |\n| `description` | User override if declared. Otherwise: full Arabic article body — see Writing Standards. |\n| `excerpt` | User override if declared. Otherwise: 1–2 sentence Arabic summary, max 40 words. |\n| `slug` | User override if declared. Otherwise: Arabic title words joined by hyphens, all diacritics and punctuation stripped. Example: `أثر-الطفولة-على-مستقبل-المجتمع` |\n\n## `translations[1]` — English\n\n| Field | Value |\n|---|---|\n| `lang` | Hardcoded `\"en\"` |\n| `title` | User override if declared. Otherwise: 5–10 word natural English headline. Not a word-for-word translation. |\n| `description` | User override if declared. Otherwise: full English article on the same subject — see Writing Standards. Not a literal translation. |\n| `excerpt` | User override if declared. Otherwise: 1–2 sentence English summary, max 40 words. |\n| `slug` | User override if declared. Otherwise: English title in lowercase kebab-case, hyphens only, no punctuation. Example: `impact-of-childhood-on-society` |\n\n---\n\n# Writing Standards for `description`\n\nApply to every generated `description` in both languages without exception:\n\n- **Inverted pyramid:** Most important conclusion first. Supporting detail second. Background last.\n- **Subheadings:** Use `##` and `###` to divide logical sections.\n- **Lists:** Bullet or numbered lists for all enumerable items.\n- **Bold:** Bold key terms and information-carrying phrases.\n- **Paragraphs:** 1–3 sentences max. Each sentence under 25 words.\n- **Voice:** Active. Address the reader directly.\n- **Source fidelity:** Every claim must exist in `articleText`. Introduce nothing that is not in the source.\n\n---\n\n# Hard Constraints\n\n**RULE 1 — No `id` in `base_post`.**\nNever generate, guess, or include an `id` field inside `base_post`. The database generates this value after insertion. It does not exist at formatting time and must not appear anywhere in your output.\n\n**RULE 2 — No `post_id` in `translations`.**\nNever generate, guess, or include a `post_id` field inside any translation object. This value is injected by the n8n workflow after the post row is created. It does not exist at formatting time and must not appear anywhere in your output.\n\n**RULE 3 — Raw JSON output only.**\nYour entire response must be one valid JSON object and nothing else. No conversational text before or after. No chain-of-thought reasoning. No markdown code fences. No backticks. No field name variations. JSON mode is active — any non-JSON character in your response will break the downstream n8n parser.\n\n---\n\n# Output Schema\n\nYour output must match this structure exactly. Field names, key order, and array positions are fixed.\n\n```\n{\n  \"base_post\": {\n    \"type\": \"<post | activity | news>\",\n    \"tags\": [\"<tag1>\", \"<tag2>\", \"<tag3>\"],\n    \"metadata\": {\n      \"images\": [\"<url1>\", \"<url2>\"]\n    }\n  },\n  \"translations\": [\n    {\n      \"lang\": \"ar\",\n      \"title\": \"<arabic title>\",\n      \"description\": \"<arabic markdown body>\",\n      \"excerpt\": \"<arabic summary>\",\n      \"slug\": \"<arabic-slug>\"\n    },\n    {\n      \"lang\": \"en\",\n      \"title\": \"<english title>\",\n      \"description\": \"<english markdown body>\",\n      \"excerpt\": \"<english summary>\",\n      \"slug\": \"<english-slug>\"\n    }\n  ]\n}\n```\n\n**Schema rules:**\n- `base_post` has exactly 3 keys: `type`, `tags`, `metadata`. No others.\n- `translations` has exactly 2 objects: index `0` is Arabic, index `1` is English. No others.\n- Each translation object has exactly 5 keys: `lang`, `title`, `description`, `excerpt`, `slug`. No others.\n- `metadata` has exactly 1 key: `images`, populated with the full `imageUrls` array.\n- On hard error: return only `{ \"status\": \"error\", \"reason\": \"<reason>\" }` and nothing else."}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{"type":"json_object"}}}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.3,"position":[2544,1200],"id":"022c67cd-6c24-4e77-8218-9f94a747bb7b","name":"Message a model","credentials":{"openAiApi":{"id":"DwcUxiuQ0oxDoObM","name":"n8n free OpenAI API credits"}}},{"parameters":{"tableId":"posts","fieldsUi":{"fieldValues":[{"fieldId":"type","fieldValue":"={{ $json.output[0].content[0].text.base_post.type }}"},{"fieldId":"metadata","fieldValue":"={{ {\n  \"likes\": 0,\n  \"gallery\": \n    $json.output[0].content[0].text.base_post.metadata.images\n  ,\n  \"cover_image\": $json.output[0].content[0].text.base_post.metadata.images[0]\n  \n} }}"},{"fieldId":"published","fieldValue":"={{false}}"},{"fieldId":"tags","fieldValue":"={{ $json.output[0].content[0].text.base_post.tags }}"},{"fieldId":"is_bot_generated","fieldValue":"={{true}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2896,1200],"id":"0b4a2d3e-b3c0-481f-b239-60b6eaa72727","name":"create post","credentials":{"supabaseApi":{"id":"S7nwzM3ntemMTX5E","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"445df435-68f6-423b-980f-15011eeb6488","leftValue":"={{ $json.id }}","rightValue":"failed","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"9202dd67-122b-4a90-b32a-23c667b5b78e","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3344,1200],"id":"141d7790-9edf-4dbf-847a-0eb357d16231","name":"If images or text are missing1"},{"parameters":{"tableId":"post_translations","fieldsUi":{"fieldValues":[{"fieldId":"post_id","fieldValue":"={{ $json.id }}"},{"fieldId":"lang","fieldValue":"={{ $('Message a model').item.json.output[0].content[0].text.translations[1].lang }}"},{"fieldId":"title","fieldValue":"={{ $('Message a model').item.json.output[0].content[0].text.translations[1].title }}"},{"fieldId":"description","fieldValue":"={{ $('Message a model').item.json.output[0].content[0].text.translations[1].description }}"},{"fieldId":"excerpt","fieldValue":"={{ $('Message a model').item.json.output[0].content[0].text.translations[1].excerpt }}"},{"fieldId":"slug","fieldValue":"={{ $('Message a model').item.json.output[0].content[0].text.translations[1].slug }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3120,1104],"id":"4644b25c-a935-4b47-a855-7323548e99b7","name":"create translation post in English","credentials":{"supabaseApi":{"id":"S7nwzM3ntemMTX5E","name":"Supabase account"}}},{"parameters":{"tableId":"post_translations","fieldsUi":{"fieldValues":[{"fieldId":"post_id","fieldValue":"={{ $json.id }}"},{"fieldId":"lang","fieldValue":"={{ $('Message a model').item.json.output[0].content[0].text.translations[0].lang }}"},{"fieldId":"title","fieldValue":"={{ $('Message a model').item.json.output[0].content[0].text.translations[0].title }}"},{"fieldId":"description","fieldValue":"={{ $('Message a model').item.json.output[0].content[0].text.translations[0].description }}"},{"fieldId":"excerpt","fieldValue":"={{ $('Message a model').item.json.output[0].content[0].text.translations[0].excerpt }}"},{"fieldId":"slug","fieldValue":"={{ $('Message a model').item.json.output[0].content[0].text.translations[0].slug }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3120,1296],"id":"310ab8b0-7541-45fc-ad99-803e0cc40637","name":"create translation post in Arabic","credentials":{"supabaseApi":{"id":"S7nwzM3ntemMTX5E","name":"Supabase account"}}},{"parameters":{"content":"📬 Slack → Auto Content Post Pipeline\nA team member sends a Slack message to a dedicated channel with article text and at least one image attached — that's the only manual step required.\n🔍 Validate\nThe bot checks that the message has meaningful text (12+ characters) and at least one image. If anything is missing, it replies with a clear error explaining what went wrong.\n☁️ Upload Images\nEach attached image is downloaded from Slack and uploaded to Cloudinary for permanent, optimized hosting.\n🤖 AI Content Generation\nThe article text and image URLs are sent to GPT. The AI generates a fully structured post in both Arabic and English — including a title, full markdown article body, short excerpt, and a URL slug for each language. It also classifies the post type (news, activity, or general post) and picks relevant Arabic tags.\n🗄️ Save to Database\nThe post is inserted into Supabase as a draft (unpublished), along with both translations linked to it — ready for a human to review and publish.\n✅ Confirmation\nThe bot replies in Slack with the new post ID and both the Arabic and English titles, so the team knows everything went through successfully.\n\n💡 The big idea: Turn a simple Slack message into a fully structured, bilingual, database-ready content post — with zero extra tools or dashboards needed.","height":496,"width":576},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[864,448],"id":"6f382c73-3644-4ed4-a4df-b5672a9fe3e7","name":"Sticky Note"}],"pinData":{},"connections":{"Slack Trigger":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Upload an asset from file data","type":"main","index":0}]]},"Upload an asset from file data":{"main":[[{"node":"Build user prompt","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If images or text are missing","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Build user prompt":{"main":[[{"node":"If uploading images failed","type":"main","index":0}]]},"If images or text are missing":{"main":[[{"node":"Failed message","type":"main","index":0}],[{"node":"Split Out","type":"main","index":0}]]},"If uploading images failed":{"main":[[{"node":"Failed message","type":"main","index":0}],[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"create post","type":"main","index":0}]]},"create post":{"main":[[{"node":"create translation post in English","type":"main","index":0},{"node":"create translation post in Arabic","type":"main","index":0}]]},"If images or text are missing1":{"main":[[{"node":"Success message","type":"main","index":0}],[{"node":"Failed message","type":"main","index":0}]]},"create translation post in English":{"main":[[{"node":"If images or text are missing1","type":"main","index":0}]]},"create translation post in Arabic":{"main":[[{"node":"If images or text are missing1","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","binaryMode":"separate"},"versionId":"0fd1e1ae-c2e6-471e-9d2a-10339acd87cf","meta":{"templateCredsSetupCompleted":true,"instanceId":"953b23a1b1d2a2d606c0b0694fc486babe4aebdb18eabd89331092ad305819c7"},"nodeGroups":[],"id":"GobWBoYj6JJdC01f","tags":[]},"success":true}