Interview Preparation Assistant/wrokflow.json
{"name":"Interview Prep AI","nodes":[{"parameters":{"path":"2e7e661c-25ba-4704-aa6e-b0b68eb1d277","formTitle":"Interview Preparation","formDescription":"Fill in your details below. At least one of Interviewer or Company LinkedIn is required.","formFields":{"values":[{"fieldLabel":"Your_Email","fieldType":"email","requiredField":true},{"fieldLabel":"User_LinkedIn","requiredField":true},{"fieldLabel":"Interviewer_LinkedIn"},{"fieldLabel":"Company_LinkedIn"},{"fieldLabel":"CV_Upload","fieldType":"file","multipleFiles":false,"acceptFileTypes":".pdf"}]},"options":{"appendAttribution":false}},"id":"7f66abe3-910c-47f4-889e-6ce8c2cae8ed","name":"Form Trigger","type":"n8n-nodes-base.formTrigger","typeVersion":2,"position":[-944,1456],"webhookId":"2e7e661c-25ba-4704-aa6e-b0b68eb1d277"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond-interviewer-empty","leftValue":"={{ $json.Interviewer_LinkedIn }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"cond-company-empty","leftValue":"={{ $json.Company_LinkedIn }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"3277a19e-94d2-4722-a364-1908bf385c3e","name":"Validate: Need At Least One","type":"n8n-nodes-base.if","typeVersion":2,"position":[-720,1456]},{"parameters":{"sendTo":"={{ $('Form Trigger').item.json.Your_Email }}","subject":"Interview Prep Error — Missing Profile Information","message":"<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"UTF-8\"><title>Error</title><style>body{font-family:'Segoe UI',Arial,sans-serif;background:#f4f4f7;margin:0;padding:0}.container{max-width:560px;margin:48px auto;background:#fff;border-radius:10px;box-shadow:0 2px 12px rgba(0,0,0,.08);overflow:hidden}.header{background:#c0392b;padding:32px 40px}.header h1{color:#fff;font-size:22px;margin:0;font-weight:600}.body{padding:36px 40px}.body p{color:#333;font-size:16px;line-height:1.7;margin:0 0 16px}.footer{background:#f9f9f9;padding:20px 40px;text-align:center;font-size:12px;color:#999;border-top:1px solid #eee}</style></head><body><div class=\"container\"><div class=\"header\"><h1>⚠️ Interview Prep Failed</h1></div><div class=\"body\"><p>We could not generate your interview preparation report.</p><p><strong>Reason:</strong> You must provide at least one of the following:</p><ul style=\"color:#333;font-size:16px;line-height:1.8\"><li>Interviewer LinkedIn Profile URL</li><li>Company LinkedIn Page URL</li></ul><p>Please resubmit the form and include at least one of the above fields.</p></div><div class=\"footer\">Interview Prep Assistant — Automated Notification</div></div></body></html>","options":{}},"id":"da608ecd-cf7e-4afc-8498-f6aa889f6631","name":"Send Error Email","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-496,976],"webhookId":"213af289-adc1-4c64-a68c-7fc72a228aae","credentials":{"gmailOAuth2":{"id":"ifmvvStNxe9Zx4pp","name":"Gmail OAuth2 API"}}},{"parameters":{"operation":"Run actor and get dataset","actorId":{"__rl":true,"value":"LpVuK3Zozwuipa5bp","mode":"id"},"customBody":"={\n    \"profileScraperMode\": \"Profile details no email ($4 per 1k)\",\n    \"queries\": [\n        \"{{ $json.User_LinkedIn }}\"\n    ]\n}","authentication":"apifyOAuth2Api"},"id":"86668cb6-700d-4acc-beff-7b43c0e07578","name":"Run: Scrape User LinkedIn","type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[-272,1120],"credentials":{"apifyOAuth2Api":{"id":"TuIHBlj3UU9PtgDQ","name":"Apify OAuth2 API"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond-interviewer-provided","leftValue":"={{ $('Form Trigger').item.json.Interviewer_LinkedIn }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"ee73a43a-8ba1-4fd6-9e28-e38af609d065","name":"Has Interviewer LinkedIn?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-496,1392]},{"parameters":{"operation":"Run actor and get dataset","actorId":{"__rl":true,"value":"LpVuK3Zozwuipa5bp","mode":"id"},"customBody":"={\n    \"profileScraperMode\": \"Profile details no email ($4 per 1k)\",\n    \"queries\": [\n        \"{{ $json.Interviewer_LinkedIn }}\"\n    ]\n}","authentication":"apifyOAuth2Api"},"id":"b2c581eb-5bc0-4c59-aa96-684d43ad96df","name":"Run: Scrape Interviewer LinkedIn","type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[-272,1312],"credentials":{"apifyOAuth2Api":{"id":"TuIHBlj3UU9PtgDQ","name":"Apify OAuth2 API"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond-company-provided","leftValue":"={{ $('Form Trigger').item.json.Company_LinkedIn }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"7b063c80-e225-473e-9a67-54fd7af87cee","name":"Has Company LinkedIn?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-496,1776]},{"parameters":{"operation":"Run actor and get dataset","actorId":{"__rl":true,"value":"LpVuK3Zozwuipa5bp","mode":"id"},"customBody":"={\n    \"profileScraperMode\": \"Profile details no email ($4 per 1k)\",\n    \"queries\": [\n        \"{{ $json.Company_LinkedIn }}\"\n    ]\n}","authentication":"apifyOAuth2Api"},"id":"7a3faa1a-0e19-4d10-ad1f-7a322206118f","name":"Run: Scrape Company LinkedIn","type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[-272,1840],"credentials":{"apifyOAuth2Api":{"id":"TuIHBlj3UU9PtgDQ","name":"Apify OAuth2 API"}}},{"parameters":{"jsCode":"// ============================================================\n// CONSOLIDATE ALL DATA\n// Merges all parallel branch outputs into one clean object\n// for the AI Interview Coach agent.\n//\n// Inputs (some optional — node runs regardless of which branches fired):\n//   - Form Trigger          → always available (email, LinkedIn URLs)\n//   - Run: Scrape User LinkedIn    → always ran\n//   - Run: Scrape Interviewer LinkedIn → only if Interviewer URL was provided\n//   - Run: Scrape Company LinkedIn     → only if Company URL was provided\n//   - Extract from File     → only if a CV was uploaded\n// ============================================================\n\nconst formData = $('Form Trigger').first().json;\n\n// ── Helper: safely pull all items from a node, returns [] if it never ran ──\nfunction safeGetAll(nodeName) {\n  try {\n    const items = $(nodeName).all();\n    return (items && items.length > 0) ? items.map(i => i.json) : [];\n  } catch (e) {\n    return [];\n  }\n}\n\n// ── Helper: safely get a single text value from a node ──\nfunction safeGetText(nodeName, textKey = 'text') {\n  try {\n    const items = $(nodeName).all();\n    if (!items || items.length === 0) return null;\n    return items[0].json[textKey] || null;\n  } catch (e) {\n    return null;\n  }\n}\n\n// ── 1. User LinkedIn profile (always expected) ──\nconst userProfileData = safeGetAll('Run: Scrape User LinkedIn');\nconst userProfile = userProfileData.length > 0\n  ? JSON.stringify(userProfileData, null, 2)\n  : 'Not available — scrape may have failed.';\n\n// ── 2. Interviewer LinkedIn profile (optional) ──\nconst interviewerProfileData = safeGetAll('Run: Scrape Interviewer LinkedIn');\nconst interviewerProfile = interviewerProfileData.length > 0\n  ? JSON.stringify(interviewerProfileData, null, 2)\n  : 'Not provided — no interviewer LinkedIn URL was submitted.';\n\n// ── 3. Company LinkedIn profile (optional) ──\nconst companyProfileData = safeGetAll('Run: Scrape Company LinkedIn');\nconst companyProfile = companyProfileData.length > 0\n  ? JSON.stringify(companyProfileData, null, 2)\n  : 'Not provided — no company LinkedIn URL was submitted.';\n\n// ── 4. CV text from uploaded PDF (optional) ──\n// The \"Extract from File\" node outputs a `.text` field containing the raw PDF text.\nconst cvText = safeGetText('Extract from File', 'text')\n  || 'Not provided — no CV was uploaded.';\n\n// ── 5. Metadata from the form ──\nconst email = formData.Your_Email || '';\nconst userLinkedIn  = formData.User_LinkedIn || '';\nconst interviewerLinkedIn = formData.Interviewer_LinkedIn || '';\nconst companyLinkedIn = formData.Company_LinkedIn || '';\n\n// ── Build the consolidated output ──\nreturn [{\n  json: {\n    // Recipient for the final email\n    email,\n\n    // Raw form inputs (useful for the AI to reference URLs directly)\n    submittedUrls: {\n      user: userLinkedIn,\n      interviewer: interviewerLinkedIn || null,\n      company: companyLinkedIn || null,\n    },\n\n    // Scraped profile data (JSON strings — AI can read structured JSON naturally)\n    userProfile,\n    interviewerProfile,\n    companyProfile,\n\n    // Plain-text CV content\n    cvText,\n\n    // Availability flags — lets the AI know what data it actually has\n    dataAvailability: {\n      hasUserProfile:       userProfileData.length > 0,\n      hasInterviewerProfile: interviewerProfileData.length > 0,\n      hasCompanyProfile:    companyProfileData.length > 0,\n      hasCv:                cvText !== 'Not provided — no CV was uploaded.',\n    },\n  }\n}];"},"id":"0d3a801f-dc30-4aff-a577-b1137309eaa8","name":"Consolidate All Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,1584]},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Here is all the data collected for interview preparation:\n\n---USER LINKEDIN PROFILE---\n{{ $json.userProfile }}\n\n---INTERVIEWER LINKEDIN PROFILE---\n{{ $json.interviewerProfile }}\n\n---COMPANY LINKEDIN PROFILE---\n{{ $json.companyProfile }}\n\n---CANDIDATE CV / RESUME---\n{{ $json.cvText }}\n\nPlease produce the full interview preparation report now.","options":{"systemMessage":"# AI Interview Coach — System Prompt\n\n````markdown\n# Section 1 — Role & Objective\n\nYou are the **AI Interview Coach**, an expert interview preparation analyst and career strategist operating as an AI agent inside an n8n workflow. You receive scraped LinkedIn and CV data assembled by the pipeline, analyze it, and produce a single personalized interview preparation report.\n\nYour sole deliverable is a **complete, self-contained HTML document** that will be inserted directly into a Gmail message body as raw HTML. The document must render perfectly inside a Gmail client without any external resources.\n\nYour success criterion: produce a single valid HTML document — nothing before `<!DOCTYPE html>`, nothing after `</html>` — that is grounded entirely in the input data provided, fully styled inline or via a `<style>` block, and immediately ready for Gmail delivery.\n\n---\n\n# Section 2 — Input Context\n\nYou will receive the following fields. Do not reference or assume any field not listed here. If an expected field is absent, apply the conditional logic defined in Section 6.\n\n| Field | Required | Description |\n|---|---|---|\n| `userProfile` | Required | JSON string of the candidate's scraped LinkedIn profile |\n| `interviewerProfile` | Optional | JSON string of the interviewer's scraped LinkedIn profile, or the string `\"Not provided\"` |\n| `companyProfile` | Optional | JSON string of the company's scraped LinkedIn profile, or the string `\"Not provided\"` |\n| `cvText` | Optional | Plain text extracted from the candidate's uploaded CV/résumé, or the string `\"Not provided\"` |\n| `dataAvailability.hasUserProfile` | Required | Boolean — always true if the pipeline reached this agent |\n| `dataAvailability.hasInterviewerProfile` | Required | Boolean — true only if interviewer LinkedIn was scraped successfully |\n| `dataAvailability.hasCompanyProfile` | Required | Boolean — true only if company LinkedIn was scraped successfully |\n| `dataAvailability.hasCv` | Required | Boolean — true only if a CV was uploaded and extracted |\n\nDo not reference or assume any field not listed here. If an expected field is absent, trigger the fallback behavior defined in Section 6.\n\n---\n\n# Section 3 — Agent Behavior & Thinking Process\n\nExecute these steps in order before writing a single character of HTML output.\n\n**Step 1 — Validate input.** Confirm `userProfile` is present and parseable. Check each `dataAvailability` flag and note which sections of the report must be omitted or adapted.\n\n**Step 2 — Analyze the candidate.** From `userProfile` and `cvText` (if available), extract: full name, location, current role or headline, skills, work experience, education, and certifications. Note any career gaps, pivots, or unusual patterns that an interviewer would likely probe.\n\n**Step 3 — Analyze the interviewer (conditional).** Only if `dataAvailability.hasInterviewerProfile` is `true`: extract the interviewer's career trajectory, current role, specializations, companies worked at, and any distinctive decisions (e.g. pivots, transitions, dual roles, specific technologies they train or advocate for). These specific details will drive the personalized questions in Section 7 of the report.\n\n**Step 4 — Analyze the company (conditional).** Only if `dataAvailability.hasCompanyProfile` is `true`: extract the company name, industry, size, founding year, description, and any available culture or speciality signals. Use this to determine what kind of candidate they are likely looking for.\n\n**Step 5 — Derive the fit score (conditional).** Compute the fit score ONLY if `dataAvailability.hasCompanyProfile` is `true`. Score on a 0–100 scale based on genuine skill alignment, experience relevance, location match, and seniority fit. A weak match must score 30–50. Do not inflate. If company data is unavailable, omit this section entirely.\n\n**Step 6 — Identify common ground.*Find what the candidate, interviewer, and company genuinely share: location, tech stack, educational background, industry, language, or career trajectory. Only surface things that are verifiably and exactly present in the input data. For educational background, only claim a shared institution if the exact school name matches between profiles — same field of study or same country is not sufficient. For skills or tools, only claim a match if the exact technology name appears in both profiles.* .\n\n**Step 7 — Compose all questions.**\n- Questions for the interviewer: 3–4 questions grounded in specific verifiable details from the interviewer's profile (e.g. a specific company they worked at, a technology they teach, a career transition they made). Generic questions are a failure.\n- Questions about the company: 3–4 questions grounded in specific verifiable details from the company's profile. Generic questions are a failure.\n- Expected interview questions: 4–5 questions the interviewer is likely to ask, based on the role context, company focus, and any gaps or notable points in the candidate's background. Each must be followed by one-sentence coaching guidance.\n\n**Step 8 — Self-check before writing.** Ask: Does every claim in my planned output trace directly to a field in the input data or a logical inference from it? If any value was assumed without a traceable source, replace it with omission or a graceful adaptation. Do not invent facts.\n\n**Step 9 — Write the HTML output.** Follow the exact structure and styling rules in Section 5.\n\n---\n\n# Section 4 — Rules & Instructions\n\n- Output ONLY the raw HTML document. The first character of your output must be `<` and the last must be `>`. Nothing else.\n- Do not include markdown code fences, preambles, explanations, or any text outside the HTML document.\n- Do not echo input data verbatim in the output. Synthesize and paraphrase.\n- Do not fabricate company details, interviewer history, or candidate skills not present in the input.\n- Do not use placeholder text such as \"N/A\", \"not provided\", or \"[unknown]\" anywhere in the visible report. Omit the section or adapt it gracefully instead.\n- All CSS must be embedded in a single `<style>` block inside `<head>`. No external stylesheets. No JavaScript.\n- Do not use web fonts loaded via `@import` or `<link>`. Use only system font stacks.\n- Execute deterministically: given the same input, always produce the same output.\n- Never modify the section order defined in Section 5.\n\n---\n\n# Section 5 — Output Structure & Styling\n\n## Gmail Compatibility Requirements\n\n- Use a single `<style>` block in `<head>` for all styles. Gmail strips `<link>` tags.\n- Do not use CSS variables (`var(--x)`). Gmail does not support them.\n- Do not use `flexbox` or `CSS Grid` as the primary layout mechanism. Use `display: block` and `max-width` centering via `margin: 0 auto`.\n- Use inline `style` attributes for any critical structural properties on `<td>` elements if using tables for layout.\n- Background colors on containers must be set both on the element and repeated on a wrapping `<td>` if using table layout.\n- Use `!important` sparingly and only for properties that Gmail is known to override (e.g. font-family).\n\n## Styling Token System\n\nH2 elements must use font-size 15px, font-weight 600, color #1a1a1a, margin 32px 0 10px, padding-bottom 8px, and border-bottom 1px solid #e8e8e8.\n\n## Document Sections (produce in this exact order)\n\n**1. Candidate name** — `<h1>` at 22px, font-weight 600, color `#1a1a1a`, margin-bottom 4px.\n\n**2. Meta line** — 13px, color `#888888`, margin-bottom 32px. Format: `Interviewer: [name] · Company: [name] · Generated [today's date]`. Omit the interviewer segment if `hasInterviewerProfile` is false. Omit the company segment if `hasCompanyProfile` is false.\n\n**3. Company Snapshot** — `<h2>` section. 3–5 sentence paragraph describing what the company does, its stage, industry, and inferred culture. OMIT THIS SECTION ENTIRELY if `hasCompanyProfile` is false.\n\n**4. The Opportunity** — `<h2>` section. 2–4 sentences on the likely role, day-to-day responsibilities, and problems the candidate will be hired to solve. Base this on all available data. Include even if company data is absent, but scope it appropriately.\n\n**5. Fit Score** — `<h2>` section. Display the percentage as a large number: `font-size: 36px; font-weight: 700; color: #2e8a57` followed by the word \"match\" at 14px gray. Then 1–2 sentence explanation. **OMIT THIS SECTION ENTIRELY if `hasCompanyProfile` is false.**\n\n**6. What You Have in Common** — `<h2>` section. Render each shared trait as a pill: `display: inline-block; background: #eaf6f0; color: #1a6644; font-size: 12px; padding: 4px 12px; border-radius: 20px; margin: 3px`. Only include traits verifiably present in the data.\n\n**7. Questions to Ask the Interviewer** — `<h2>` section. Each question in a styled block: `background: #f7f7f7; border-left: 3px solid #4a90d9; border-radius: 0 4px 4px 0; padding: 10px 14px; margin: 8px 0; font-size: 14px; color: #1a1a1a`. **OMIT THIS SECTION ENTIRELY if `hasInterviewerProfile` is false.**\n\n**8. Questions to Ask About the Company** — `<h2>` section. Same styling as Section 7. **OMIT THIS SECTION ENTIRELY if `hasCompanyProfile` is false.**\n\n**9. Questions They Will Likely Ask You** — `<h2>` section. Each expected question as a styled block (same as Section 7). Below each question, a coaching note at `font-size: 12px; color: #777; margin-top: 4px; font-style: italic`. This section is always present.\n\n**10. Closing disclaimer** — Small text at bottom: `font-size: 11px; color: #aaaaaa; margin-top: 40px; border-top: 1px solid #e8e8e8; padding-top: 16px`. Text: \"This report was generated automatically based on publicly available LinkedIn data and submitted documents. It is intended as a preparation aid only.\"\n\n## H2 Styling\n\n```css\nh2 {{\n  font-size: 15px;\n  font-weight: 600;\n  color: #1a1a1a;\n  margin: 32px 0 10px;\n  padding-bottom: 8px;\n  border-bottom: 1px solid #e8e8e8;\n}}\n```\n\n---\n\n# Section 6 — Conditions & Edge Cases\n\n- **IF** `dataAvailability.hasCompanyProfile` is `false`: omit Section 3 (Company Snapshot), Section 5 (Fit Score), and Section 8 (Questions About the Company) entirely. Do not write placeholder text for these sections.\n- **IF** `dataAvailability.hasInterviewerProfile` is `false`: omit Section 7 (Questions to Ask the Interviewer) entirely. Do not write placeholder text.\n- **IF** `dataAvailability.hasCv` is `false`: generate the report using LinkedIn data only. Do not mention the absence of a CV anywhere in the visible report.\n- **IF** `userProfile` appears malformed or returns no name: use the LinkedIn URL's public identifier slug as a fallback name display, or omit the name entirely rather than writing \"Unknown\".\n- **IF** both `hasInterviewerProfile` and `hasCompanyProfile` are `false`: the report contains only sections 1, 2, 4, 6, 9, and 10. Produce a useful, grounded report from the candidate data alone.\n- **IF** you are uncertain whether a detail is accurate: omit it. Do not guess.\n\n---\n\n# Section 7 — Limitations & Constraints\n\n- **Knowledge boundary:** Your knowledge is limited to what is described in this prompt and what the input data contains. Do not use external knowledge to fill gaps, infer company details not in the data, or assume the interviewer's intent.\n- **No assumption rule:** If a required piece of information is missing from the input, do not guess. Omit the relevant output gracefully.\n- **Gmail rendering boundary:** The output must render correctly inside Gmail. Do not rely on CSS features Gmail strips: no `<link>`, no `@import`, no `flexbox` as primary layout, no CSS custom properties, no JavaScript.\n- **Grounding rule:** Every specific claim in the report (a skill the candidate has, a company the interviewer worked at, a product the company makes) must be traceable to a field in the input data. If you cannot trace it, do not write it.\n- **Question quality rule:** Questions for the interviewer must reference a specific verifiable detail from their LinkedIn profile. A question that could apply to any interviewer is a failure condition — rewrite it until it is specific.\n- **Score calibration rule:** The fit score must reflect genuine analysis. A candidate with no relevant experience for the role must score in the 30–50% range. Defaulting to 70%+ without strong evidence is a failure condition.\n````"}},"id":"07dbb03c-d116-409f-83bc-93031da1fac2","name":"AI Interview Coach","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[176,1584]},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"id":"1bae73dc-a9df-41c1-ae67-160903466fe6","name":"OpenAI GPT-4o (Coach)","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[208,1824],"credentials":{"openAiApi":{"id":"mzgpAPEo271DWJ7m","name":"n8n free OpenAI API credits"}}},{"parameters":{"sendTo":"={{ $('Consolidate All Data').item.json.email }}","subject":"Your Personalised Interview Preparation Report","message":"={{ $('AI Interview Coach').item.json.output }}","options":{}},"id":"bfc8344f-faac-4aab-a01d-22f67bdc99ff","name":"Send Interview Report","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[528,1584],"webhookId":"46ea70f9-ae61-49d1-ab56-f95cc6b478d7","credentials":{"gmailOAuth2":{"id":"ifmvvStNxe9Zx4pp","name":"Gmail OAuth2 API"}}},{"parameters":{"operation":"pdf","binaryPropertyName":"=CV_Upload","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-272,2032],"id":"992de850-faed-48ca-a721-30645654b0a3","name":"Extract from File"},{"parameters":{"content":"# Interview Prep Workflow — Summary\n\n**What it does:** User submits a form (their LinkedIn, optionally interviewer/company LinkedIn, optional CV) → workflow scrapes the LinkedIn profiles via Apify, extracts CV text, feeds it all to a GPT-4o-mini agent that writes a personalized HTML interview-prep report → emails it via Gmail.\n\n## Flow\n\n1. **Form Trigger** collects input\n2. **Validation** — needs at least one of Interviewer or Company LinkedIn, else sends an error email\n3. **Four parallel branches** — scrape user LinkedIn (always), scrape interviewer LinkedIn (if provided), scrape company LinkedIn (if provided), extract CV text (if uploaded)\n4. **Consolidate All Data** (Code node) merges everything, gracefully falling back to \"not provided\" for any branch that didn't run\n5. **AI Interview Coach** (LangChain agent, gpt-4o-mini) generates the report — strict system prompt enforces: HTML-only output, Gmail-safe CSS, no fabricated facts, no inflated fit scores, no false \"common ground\" claims\n6. **Send Interview Report** emails the HTML to the user\n\n## Key strengths\n\n- Consolidation node and prompt are both built to handle missing data cleanly — sections are omitted, not filled with placeholder text\n- Fit-score calibration and \"exact match only\" rules for common ground directly counter common LLM failure modes (flattery, false commonalities)\n\n## Watch out for\n\n- LinkedIn scraping via Apify is a ToS risk\n- No error handling if the LLM call or final email send fails — only the scraper branches fail gracefully","height":720,"width":912},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2048,928],"id":"b7b087f7-1999-459e-8325-0195615e91f0","name":"Sticky Note"}],"pinData":{},"connections":{"Form Trigger":{"main":[[{"node":"Validate: Need At Least One","type":"main","index":0}]]},"Validate: Need At Least One":{"main":[[{"node":"Send Error Email","type":"main","index":0}],[{"node":"Run: Scrape User LinkedIn","type":"main","index":0},{"node":"Has Interviewer LinkedIn?","type":"main","index":0},{"node":"Has Company LinkedIn?","type":"main","index":0},{"node":"Consolidate All Data","type":"main","index":0},{"node":"Extract from File","type":"main","index":0}]]},"Run: Scrape User LinkedIn":{"main":[[{"node":"Consolidate All Data","type":"main","index":0}]]},"Has Interviewer LinkedIn?":{"main":[[{"node":"Run: Scrape Interviewer LinkedIn","type":"main","index":0}],[{"node":"Consolidate All Data","type":"main","index":0}]]},"Run: Scrape Interviewer LinkedIn":{"main":[[{"node":"Consolidate All Data","type":"main","index":0}]]},"Has Company LinkedIn?":{"main":[[{"node":"Run: Scrape Company LinkedIn","type":"main","index":0}],[{"node":"Consolidate All Data","type":"main","index":0}]]},"Run: Scrape Company LinkedIn":{"main":[[{"node":"Consolidate All Data","type":"main","index":0}]]},"Consolidate All Data":{"main":[[{"node":"AI Interview Coach","type":"main","index":0}]]},"OpenAI GPT-4o (Coach)":{"ai_languageModel":[[{"node":"AI Interview Coach","type":"ai_languageModel","index":0}]]},"AI Interview Coach":{"main":[[{"node":"Send Interview Report","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Consolidate All Data","type":"main","index":0}]]}},"active":true,"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"versionId":"a12134d4-a7e2-44e5-8760-578e53dedd91","meta":{"templateCredsSetupCompleted":true,"instanceId":"7d0c2c668e2a8aece8e5491e46179a2414e97705d2340971416255c774c8929d"},"nodeGroups":[],"id":"VzqDW7tUFntmsciC","tags":[]}