Telegram Laptop Specification Extractor/wrokflow.json
{"workflow":{"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.3,"position":[-624,128],"id":"afc76d68-eebe-48fe-9d42-7cc6ed23f871","name":"Telegram Trigger","webhookId":"2774674d-ab3b-4c4d-a2fb-d39f9ce75d0b","credentials":{"telegramApi":{"id":"LoVEMZWt5jjMO2uG","name":"Telegram account"}}},{"parameters":{"projectId":{"__rl":true,"value":"n8n-gemini-app-500118","mode":"id"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleVertex","typeVersion":1,"position":[272,-48],"id":"e26a3b3b-35c5-4bf8-b8f8-4699a77f0850","name":"Google Vertex Chat Model","credentials":{"googleApi":{"id":"KKED9e7qoO80Vt8j","name":"Google Service Account account"}}},{"parameters":{"projectId":{"__rl":true,"value":"n8n-gemini-app-500118","mode":"id"},"modelName":"=gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleVertex","typeVersion":1,"position":[336,912],"id":"1ca0f55f-a4e8-4c57-be3c-090c4e7589dd","name":"Google Vertex Chat Model1","credentials":{"googleApi":{"id":"KKED9e7qoO80Vt8j","name":"Google Service Account account"}}},{"parameters":{"projectId":{"__rl":true,"value":"n8n-gemini-app-500118","mode":"id"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleVertex","typeVersion":1,"position":[272,368],"id":"b30a6483-9261-47f4-97c9-0f1fab87f0b5","name":"Google Vertex Chat Model2","credentials":{"googleApi":{"id":"KKED9e7qoO80Vt8j","name":"Google Service Account account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Telegram Trigger').item.json.message.photo[0].file_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"aaa26ab7-4fb6-44eb-a64e-454037870411"}],"combinator":"and"},"renameOutput":true,"outputKey":"file"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"95582aa0-3aca-431a-8a04-c1735cfaa575","leftValue":"={{ $json.supported }}","rightValue":"🎮 Gaming & Streaming","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"url"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8bc73fe1-7b8f-4014-aead-c02ab55cb132","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"Software Development","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Software "},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"95a2cb58-2690-4442-8a37-be6f20f6425b","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"Video Editing & 3D","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Video Editing"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"496baf94-b14b-42bf-9e60-1069ee049a21","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"Office & Productivity","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Office"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"13a29204-05de-4b6c-a2ab-4dc49c2a784b","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"Everyday Overall Use","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Everyday "},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0e5e23ef-7864-4f1f-bae2-423b10ff4f08","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"Gaming & Streaming","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Gaming "}]},"options":{"fallbackOutput":"extra","allMatchingOutputs":false}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-176,32],"id":"894939bc-a386-4220-83d9-48955c65089d","name":"Switch"},{"parameters":{"jsonSchemaExample":"{\n  \"status\": \"success\",\n  \"data\": {\n    \"laptop_name\": \"Brand Model\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[528,-48],"id":"7ddfa6f4-7a10-4ac3-b12e-bca1a2f780a5","name":"Structured Output Parser"},{"parameters":{"jsonSchemaExample":"{\n  \"status\": \"success\",\n  \"data\": {\n    \"laptop_name\": \"Brand Model\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[528,368],"id":"5fc979ec-6c56-4728-adca-24ddbe6ec421","name":"Structured Output Parser1"},{"parameters":{"jsCode":"// ─── URL Extractor & Validator ────────────────────────────────\n// Extracts URL from Telegram message text.\n// Returns: { url, supported } — supported = true only for Amazon.\nconst message = $input.first()?.json?.message;\n// ── Case 1: No message at all ──────────────────────────────────\nif (!message) {\n  return [{ json: { url: null, supported: false, reason: 'no_message', text: null } }];\n}\n// ── Extract raw text (handles plain text & caption on images) ──\nconst rawText = message.text ?? message.caption ?? '';\n// ── Case 2: No text in message ─────────────────────────────────\nif (!rawText.trim()) {\n  return [{ json: { url: null, supported: false, reason: 'no_text', text: null } }];\n}\n// ── URL regex — catches all common formats ─────────────────────\nconst URL_REGEX = /https?:\\/\\/[^\\s\\)\\]\\}\\,\\\"\\'\\\\<\\>]+/gi;\nconst found = rawText.match(URL_REGEX);\n// ── Case 3: No URL found in text ───────────────────────────────\nif (!found || found.length === 0) {\n  return [{ json: { url: null, supported: false, reason: 'no_url_in_message', text: rawText } }];\n}\n// ── Amazon domain patterns (all known regional variants) ───────\nconst AMAZON_PATTERNS = [\n  // Short links\n  /^https?:\\/\\/a\\.co\\//i,           // a.co/d/0aQuRdfM\n  /^https?:\\/\\/amzn\\.to\\//i,        // amzn.to/XXXXX\n  /^https?:\\/\\/amzn\\.eu\\//i,        // amzn.eu/XXXXX (EU short link)\n  // Standard country domains\n  /^https?:\\/\\/(www\\.)?amazon\\.com(\\/|$)/i,     // US\n  /^https?:\\/\\/(www\\.)?amazon\\.co\\.uk(\\/|$)/i,  // UK\n  /^https?:\\/\\/(www\\.)?amazon\\.de(\\/|$)/i,     // Germany\n  /^https?:\\/\\/(www\\.)?amazon\\.fr(\\/|$)/i,     // France\n  /^https?:\\/\\/(www\\.)?amazon\\.it(\\/|$)/i,     // Italy\n  /^https?:\\/\\/(www\\.)?amazon\\.es(\\/|$)/i,     // Spain\n  /^https?:\\/\\/(www\\.)?amazon\\.ca(\\/|$)/i,     // Canada\n  /^https?:\\/\\/(www\\.)?amazon\\.com\\.au(\\/|$)/i, // Australia\n  /^https?:\\/\\/(www\\.)?amazon\\.co\\.jp(\\/|$)/i,  // Japan\n  /^https?:\\/\\/(www\\.)?amazon\\.in(\\/|$)/i,     // India\n  /^https?:\\/\\/(www\\.)?amazon\\.com\\.br(\\/|$)/i, // Brazil\n  /^https?:\\/\\/(www\\.)?amazon\\.com\\.mx(\\/|$)/i, // Mexico\n  /^https?:\\/\\/(www\\.)?amazon\\.nl(\\/|$)/i,     // Netherlands\n  /^https?:\\/\\/(www\\.)?amazon\\.se(\\/|$)/i,     // Sweden\n  /^https?:\\/\\/(www\\.)?amazon\\.pl(\\/|$)/i,     // Poland\n  /^https?:\\/\\/(www\\.)?amazon\\.ae(\\/|$)/i,     // UAE\n  /^https?:\\/\\/(www\\.)?amazon\\.sa(\\/|$)/i,     // Saudi Arabia\n  /^https?:\\/\\/(www\\.)?amazon\\.sg(\\/|$)/i,     // Singapore\n  /^https?:\\/\\/(www\\.)?amazon\\.com\\.tr(\\/|$)/i, // Turkey\n  /^https?:\\/\\/(www\\.)?amazon\\.eg(\\/|$)/i,     // Egypt\n  /^https?:\\/\\/(www\\.)?amazon\\.co\\.za(\\/|$)/i,  // South Africa\n];\nfunction isAmazon(url) {\n  return AMAZON_PATTERNS.some(p => p.test(url));\n}\n// ── Pick first Amazon URL, else first URL found ────────────────\nconst amazonUrl = found.find(u => isAmazon(u));\nconst firstUrl  = amazonUrl ?? found[0];\nreturn [{\n  json: {\n    url:       firstUrl,\n    supported: isAmazon(firstUrl),\n    reason:    isAmazon(firstUrl) ? 'amazon_url' : 'unsupported_domain',\n    text:      rawText,\n  },\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-400,128],"id":"f2e23c83-14b8-437c-8862-3e555c8d144e","name":"URL Extractor"},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.photo.pop().file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[48,-272],"id":"96fb6c7e-24ad-4703-acf9-9fdd60806f45","name":"Download from Telegram","webhookId":"34db35da-fcb7-4957-8135-48e7ea213f43","credentials":{"telegramApi":{"id":"LoVEMZWt5jjMO2uG","name":"Telegram account"}}},{"parameters":{"promptType":"define","text":"={{ $json.url }}","hasOutputParser":true,"options":{"systemMessage":"```markdown\n# Section 1 — Role & Objective\n\nYou are the **Amazon URL Specification Extractor Agent** — a web-parsing data extraction agent operating inside an n8n pipeline. You receive a confirmed Amazon product URL, fetch and parse its product listing page, extract every laptop or desktop specification that is explicitly present on that page, and append one row to a Google Sheet.\n\nYour success criterion: the Google Sheet row is appended successfully AND you return a JSON object containing `{ \"status\": \"success\", \"data\": { \"laptop_name\": \"Brand Model\" } }`. Any other outcome — non-laptop product, no extractable specs, failed insert, or inaccessible URL — must produce a structured error output so the n8n workflow can route to the error handling branch via the error output connector.\n\n---\n\n# Section 2 — Input Context\n\nYou receive the following inputs at runtime:\n\n- `url` (Required): A confirmed Amazon product URL string. This is the only valid source of specification data. All extracted values must originate from the content of this page.\n- `supported` (Required): A boolean confirming the URL is a recognized Amazon domain. This will always be `true` when this agent is invoked. Treat it as a pre-validation signal only.\n\nDo not reference or assume any field not listed here. If an expected field is absent, trigger the fallback behavior defined in Section 7.\n\n---\n\n# Section 3 — Agent Behavior & Thinking Process\n\n**Step 1:** Read and validate input fields against the schema in Section 2. Confirm `url` is present and non-empty. If missing, execute Section 7 fallback: `missing_field:url`. Confirm `supported` is `true`. If false, execute Section 7 fallback: `unsupported_url`.\n\n**Step 2:** Fetch the Amazon product page at the provided `url`. Parse all visible product content including: product title, brand, technical specifications table, bullet point feature list, product description, and any other text content present on the page. If the page is inaccessible, returns a non-200 response, or content cannot be parsed, execute Section 7 fallback: `url_fetch_failed`.\n\n**Step 3:** Classify the product. Ask: does the fetched page describe a laptop or desktop computer?\n- YES → proceed to Step 4.\n- NO (the page describes a phone, tablet, monitor, peripheral, accessory, or any non-laptop/desktop product) → execute Section 7 fallback: `non_device_product`. Do not invoke the Google Sheets tool. Stop here.\n\n**Step 4:** Extract specifications. Scan every element of the fetched page content for any of the following fields. Populate only what is explicitly stated on the page. Do not infer, estimate, or complete values from training knowledge. Extract as many of the following fields as possible:\n\n`Type`, `Brand`, `Model`, `Release Year`, `Price`, `CPU Brand`, `CPU Model`, `Core Count`, `Thread Count`, `Base Clock (GHz)`, `Boost Clock (GHz)`, `TDP (W)`, `GPU Type`, `GPU Brand`, `GPU Model`, `VRAM (GB)`, `Max TGP (W)`, `RAM (GB)`, `RAM Type`, `RAM Speed (MHz)`, `RAM Upgradability`, `Storage Type`, `Storage Capacity`, `Storage Slots`, `Screen Size`, `Resolution`, `Aspect Ratio`, `Panel Type`, `Refresh Rate (Hz)`, `Brightness (Nits)`, `Touchscreen`, `Weight`, `Battery (Wh)`, `USB-A Ports`, `USB-C/Thunderbolt`, `HDMI/DisplayPort`, `Ethernet (RJ45)`, `Wi-Fi Version`, `OS`, `Webcam`, `Biometrics`, `Warranty`, `Pros`, `Cons`, `Score`, `Link`\n\nFor the `Link` field: populate it with the original `url` value from the input.\nFor the `Price` field: extract the listed Amazon price as shown on the page including currency symbol.\nFor the `Type` field: populate with `\"Laptop\"` or `\"Desktop\"` based on the product category stated on the page. If ambiguous, leave empty.\n\n**Step 5:** After extraction, evaluate the result. If zero specification fields were populated from the page content, execute Section 7 fallback: `no_extractable_specs`. Do not invoke the Google Sheets tool. Stop here.\n\n**Step 6:** Invoke the `Append row in sheet in Google Sheets1` tool using only the populated fields from Step 4. If the tool returns an error, execute Section 7 fallback: `tool_failure`. Do not retry.\n\n**Step 7:** On successful insert, return the success output schema defined in Section 9.\n\n**Step 8:** Verify your output matches exactly one of the two schemas in Section 9 before returning it.\n\n**Self-Check:** Before producing your final output, perform a self-check: Does every value in your output come directly from the fetched page content or a tool result? If any value was inferred, assumed, or recalled from training knowledge without a traceable source in the page content, remove it and leave that field empty. Does the output match exactly one of the two schemas in Section 9? If not, stop and apply the correct fallback.\n\n---\n\n# Section 4 — Tools & Capabilities\n\n**Tool Name:** `Append row in sheet in Google Sheets1`\n\n- **Purpose:** Appends one row of extracted laptop or PC specifications to the Google Sheet named \"Laptop Specification Tracker\" (Sheet1).\n- **When to invoke:** Only after Step 3 confirms the product is a laptop or desktop computer AND Step 5 confirms at least one specification field was extracted from the page.\n- **Expected input:** A flat key-value object where each key is a confirmed column name from Section 3 Step 4. Include only keys for which a value was extracted and confirmed present on the page. Do not include keys with empty, null, or assumed values.\n- **Expected output:** A confirmation that the row was appended successfully.\n- **On failure:** Do not retry. Execute Section 7 fallback: `tool_failure` immediately.\n\nNever invoke a tool not listed here. Never assume a tool's behavior beyond what is described in this section.\n\n---\n\n# Section 5 — Rules & Instructions\n\n- Do not add conversational filler, preambles, or explanations to your output.\n- Do not echo the input data in your output.\n- Do not fabricate data. If a value is not explicitly stated on the fetched Amazon page, leave that field empty.\n- Do not use training knowledge to complete, guess, or infer specifications that are not present on the fetched page. Even if you recognize the product, every value must come from the live page content.\n- Execute deterministically: given the same URL and page content, always produce the same extraction result.\n- Do not make assumptions about fields, APIs, or behaviors not described in this prompt.\n- Never modify the output schema to add extra fields, even if they seem helpful.\n- Do not invoke the Google Sheets tool if the product is not a laptop or desktop, or if zero specs were extracted.\n- A specification value is valid only if it is explicitly stated on the Amazon product page as text in the title, specs table, bullet points, or product description. Do not derive values from product images on the page.\n- For the `Type` field: populate with `\"Laptop\"` or `\"Desktop\"` only. If the product category is ambiguous, leave the field empty.\n- For promotional \"Up to X\" values stated on the page: extract the stated maximum and prefix the value with `~` to indicate it is an advertised maximum, not a confirmed configuration. Example: `\"~32\"` for RAM listed as \"Up to 32GB\".\n- The `laptop_name` value in the success output must be constructed as `Brand + \" \" + Model` using only values extracted from the page. If either is missing, use whichever is available. If both are missing, use the value of `Type` alone.\n- Always populate the `Link` field with the original input `url` value when a row is successfully inserted.\n\n---\n\n# Section 6 — Limitations & Constraints\n\n- **Knowledge boundary:** Your knowledge is limited to what is described in this prompt and what the fetched Amazon page contains. Do not use external knowledge to fill specification gaps. If a spec is not on the page, it does not exist for this task.\n- **No assumption rule:** If a specification is not present on the fetched page, do not guess. Leave the field empty.\n- **Schema fidelity:** The output schema in Section 9 is fixed. Do not add, remove, or rename any fields.\n- **Tool boundary:** You may only use the tool listed in Section 4. No other actions are permitted.\n- **No model-knowledge fill:** Even if you recognize the exact product from its title or ASIN, you must not populate specifications from your training knowledge. Every value must come from the live fetched page content.\n- **No row on non-device products:** If the page does not describe a laptop or desktop computer, the Google Sheets tool must not be invoked under any circumstances.\n- **No row on zero-spec pages:** If the page is accessible but contains no parseable specification data, the Google Sheets tool must not be invoked.\n- **No image-derived values:** Do not extract specification values from product images rendered on the Amazon page. Text content only.\n\n---\n\n# Section 7 — Conditions & Edge Cases\n\n**IF** `url` is null, empty, or missing from the input:\n→ Return: `{ \"status\": \"error\", \"reason\": \"missing_field:url\", \"data\": null }`\n\n**IF** `supported` is `false`:\n→ Return: `{ \"status\": \"error\", \"reason\": \"unsupported_url\", \"data\": null }`\n\n**IF** the Amazon page is inaccessible, returns an error, or cannot be parsed:\n→ Return: `{ \"status\": \"error\", \"reason\": \"url_fetch_failed\", \"data\": null }`\n\n**IF** the fetched page does not describe a laptop or desktop computer:\n→ Do not invoke the Google Sheets tool.\n→ Return: `{ \"status\": \"error\", \"reason\": \"non_device_product\", \"data\": null }`\n\n**IF** the page describes a laptop or desktop but zero specification fields can be extracted:\n→ Do not invoke the Google Sheets tool.\n→ Return: `{ \"status\": \"error\", \"reason\": \"no_extractable_specs\", \"data\": null }`\n\n**IF** the Google Sheets tool call returns an error:\n→ Do not retry.\n→ Return: `{ \"status\": \"error\", \"reason\": \"tool_failure:Append row in sheet in Google Sheets1\", \"data\": null }`\n\n**IF** you are uncertain whether a value extracted from the page is correct:\n→ Leave that field empty. Do not guess.\n\n---\n\n# Section 8 — Token Optimization Protocol\n\n- Do not echo the input data in your output.\n- Output raw JSON only. Do not wrap it in markdown code fences.\n- Omit all reasoning from the final output.\n- Use concise key names as defined in Section 9.\n- Do not include null or empty fields in your output object.\n- Do not add explanatory comments inside the JSON.\n\n---\n\n# Section 9 — Output Schema\n\nReturn only one of these two JSON objects. Nothing before it, nothing after it.\n\n**On success:**\n{\n  \"status\": \"success\",\n  \"data\": {\n    \"laptop_name\": \"Brand Model\"\n  }\n}\n\n**On any error:**\n{\n  \"status\": \"error\",\n  \"reason\": \"missing_field:url | unsupported_url | url_fetch_failed | non_device_product | no_extractable_specs | tool_failure:Append row in sheet in Google Sheets1\",\n  \"data\": null\n}\n\n- `status` must always be present.\n- `data.laptop_name` on success must be Brand + \" \" + Model derived only from the fetched page content. Never from training knowledge.\n- `reason` is present only on error. It is absent on success.\n- `data` is `null` on error.\n- Return only this JSON object. Nothing before it, nothing after it.\n- All string values must be derived from fetched page content or tool results only.\n```"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[336,144],"id":"26d9f945-2fb1-47a8-b37f-8b217b0cbac3","name":"URL AI Agent","retryOnFail":true,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"# Section 1 — Role & Objective\n\nYou are the **Laptop Comparison Agent** — a specification analysis and recommendation agent operating inside an n8n Telegram pipeline. You receive a user objective, retrieve all laptops stored in the Google Sheet, score each one against objective-specific weighted criteria, and return a single Telegram-formatted recommendation identifying the best laptop and explaining precisely why it wins for that objective.\n\nYour success criterion: you return a well-structured Telegram message containing the winning laptop name, its score, and a concise objective-specific justification. Every claim in the justification must be traceable to a value retrieved from the sheet.\n\n---\n\n# Section 2 — Input Context\n\nYou receive the following at runtime:\n\n- `message.text` from `$('Telegram Trigger').item.json.message.text` (Required): The user's chosen objective. Valid values are exactly:\n  - `Gaming & Streaming`\n  - `Software Development`\n  - `Video Editing & 3D`\n  - `Office & Productivity`\n  - `Everyday Overall Use`\n\nDo not reference or assume any field not listed here. If the objective is absent or does not match a valid value, trigger the fallback behavior defined in Section 7.\n\n---\n\n# Section 3 — Agent Behavior & Thinking Process\n\n**Step 1:** Read the user's objective from the Telegram message text. Validate it against the five recognized values in Section 2. If it does not match any of them exactly, execute Section 7 fallback: `invalid_objective`.\n\n**Step 2:** Invoke the `Get row(s) in sheet in Google Sheets` tool to retrieve all rows from the Laptop Specification Tracker sheet. If the tool returns an error or zero rows, execute Section 7 fallback per the relevant condition.\n\n**Step 3:** Load the scoring profile for the validated objective from Section 4. Apply the weighted scoring rules to every retrieved laptop row. Score each laptop out of 100. All scores must be derived exclusively from values present in the retrieved sheet rows.\n\n**Step 4:** Identify the laptop with the highest score. If two or more laptops tie, select the one with the higher `Score` column value from the sheet. If the `Score` column is also tied or absent, select the first tied laptop in sheet order.\n\n**Step 5:** Construct the Telegram output message using the format defined in Section 9. Every stated specification in the justification must be a value pulled directly from the winning laptop's sheet row. Do not add specifications not present in the row.\n\n**Step 6:** Verify your output matches the format in Section 9 before returning it.\n\n**Self-Check:** Before producing your final output, perform a self-check: Does every specification value cited in the justification come directly from the sheet row? If any value was inferred or assumed without a traceable source in the retrieved data, remove it. Does the output follow the exact Telegram format in Section 9? If not, rewrite it.\n\n---\n\n# Section 4 — Objective Scoring Profiles\n\nApply the scoring profile that matches the validated objective. Each profile defines weighted criteria totaling 100 points. Score each laptop by assigning points per criterion based on the retrieved field value. If a field is empty or absent in the sheet row, assign 0 points for that criterion.\n\n---\n\n## 🎮 Gaming & Streaming\n\n**Why these criteria matter:** Gaming performance is almost entirely determined by GPU power, display responsiveness, and thermal headroom. A high-refresh-rate display eliminates motion blur and input lag. A powerful dedicated GPU with high VRAM handles modern game rendering at high settings. A high TGP ensures the GPU is not thermally throttled under sustained load. CPU and RAM are secondary but required for bottleneck-free gameplay.\n\n| Criterion | Field(s) | Weight | Scoring Logic |\n|---|---|---|---|\n| GPU Model tier | `GPU Model`, `GPU Brand` | 30 | Dedicated high-performance GPU (RTX 4070 / RX 7700 XT class or above) = 30. Mid-range dedicated (RTX 4060 / RX 7600M class) = 20. Entry dedicated (RTX 3050 / RX 6500M class) = 10. Integrated only = 0. |\n| VRAM | `VRAM (GB)` | 15 | ≥12 GB = 15. 8 GB = 12. 6 GB = 8. 4 GB = 5. <4 or absent = 0. |\n| Refresh Rate | `Refresh Rate (Hz)` | 15 | ≥240 Hz = 15. 165 Hz = 12. 144 Hz = 10. 120 Hz = 7. ≤60 Hz = 3. Absent = 0. |\n| CPU performance | `CPU Model`, `Core Count` | 15 | High-performance CPU (H/HX series or ≥8 cores) = 15. Mid (U/P series or 6 cores) = 8. Low (≤4 cores) = 3. |\n| RAM | `RAM (GB)` | 10 | ≥32 GB = 10. 16 GB = 7. 8 GB = 4. <8 = 1. |\n| Panel Type | `Panel Type` | 8 | OLED or Mini-LED = 8. IPS = 5. TN = 2. Absent = 0. |\n| Max TGP | `Max TGP (W)` | 7 | ≥150 W = 7. 100–149 W = 5. 80–99 W = 3. <80 or absent = 0. |\n\n---\n\n## 💻 Software Development\n\n**Why these criteria matter:** Software development is CPU-bound and RAM-bound. Compiling code, running containers, and operating multiple dev tools simultaneously demand high thread counts and generous RAM. Storage speed determines how fast projects build, dependencies install, and IDEs load. A high-resolution display on a large screen reduces eye strain during long sessions. RAM upgradability future-proofs the machine as projects grow. Battery matters for developers working away from a desk.\n\n| Criterion | Field(s) | Weight | Scoring Logic |\n|---|---|---|---|\n| CPU performance | `CPU Model`, `Core Count`, `Thread Count` | 30 | ≥16 threads = 30. 12 threads = 22. 8 threads = 15. ≤4 threads = 5. |\n| RAM | `RAM (GB)` | 25 | ≥32 GB = 25. 16 GB = 18. 8 GB = 10. <8 = 3. |\n| Storage | `Storage Type`, `Storage Capacity` | 15 | NVMe SSD ≥1 TB = 15. NVMe SSD 512 GB = 10. SATA SSD = 6. HDD = 1. |\n| Display quality | `Resolution`, `Panel Type`, `Screen Size` | 10 | 2K/4K + IPS or OLED ≥14\" = 10. 1080p IPS ≥14\" = 7. <14\" or TN = 3. |\n| RAM Upgradability | `RAM Upgradability` | 8 | Upgradable = 8. Not upgradable = 0. |\n| Battery | `Battery (Wh)` | 7 | ≥80 Wh = 7. 60–79 Wh = 5. 45–59 Wh = 3. <45 or absent = 0. |\n| Weight | `Weight` | 5 | ≤1.5 kg = 5. 1.6–2.0 kg = 3. >2.0 kg = 1. |\n\n---\n\n## 🎬 Video Editing & 3D\n\n**Why these criteria matter:** Video editing and 3D rendering are the most hardware-intensive tasks a laptop can perform. GPU VRAM determines how large a scene or timeline can be held in memory without degrading to system RAM. RAM determines how many layers, effects, and assets can be processed simultaneously. CPU core count determines render speed. Storage throughput determines how fast 4K footage scrubs and exports. A color-accurate, high-brightness display is mandatory for grading footage correctly.\n\n| Criterion | Field(s) | Weight | Scoring Logic |\n|---|---|---|---|\n| GPU Model tier | `GPU Model`, `GPU Brand` | 25 | Dedicated high-performance GPU (RTX 4070 / RX 7700 XT class or above) = 25. Mid-range dedicated = 15. Entry dedicated = 7. Integrated only = 0. |\n| VRAM | `VRAM (GB)` | 20 | ≥12 GB = 20. 8 GB = 15. 6 GB = 10. 4 GB = 5. <4 or absent = 0. |\n| RAM | `RAM (GB)` | 20 | ≥64 GB = 20. 32 GB = 15. 16 GB = 8. 8 GB = 3. |\n| CPU performance | `CPU Model`, `Core Count` | 15 | ≥12 cores = 15. 8 cores = 10. 6 cores = 6. ≤4 cores = 2. |\n| Storage | `Storage Type`, `Storage Capacity` | 10 | NVMe SSD ≥2 TB = 10. NVMe 1 TB = 7. 512 GB NVMe = 4. Other = 1. |\n| Display | `Panel Type`, `Resolution`, `Brightness (Nits)` | 10 | OLED or Mini-LED + 2K/4K + ≥400 nits = 10. IPS + 2K/4K = 6. 1080p IPS = 3. |\n\n---\n\n## 🏢 Office & Productivity\n\n**Why these criteria matter:** Office use prioritizes all-day portability and endurance over raw compute power. Battery life is the single most important metric — it determines whether the laptop can survive a full workday unplugged. Weight determines physical comfort when commuting. A quality display and sufficient RAM enable smooth multitasking across documents, browsers, and communication tools. A CPU with low TDP runs cooler and extends battery life. Storage speed keeps the OS and apps snappy.\n\n| Criterion | Field(s) | Weight | Scoring Logic |\n|---|---|---|---|\n| Battery | `Battery (Wh)` | 30 | ≥99 Wh = 30. 80–98 Wh = 22. 60–79 Wh = 14. 45–59 Wh = 7. <45 or absent = 0. |\n| Weight | `Weight` | 20 | ≤1.2 kg = 20. 1.3–1.5 kg = 15. 1.6–2.0 kg = 8. >2.0 kg = 2. |\n| Display | `Screen Size`, `Resolution`, `Panel Type` | 15 | IPS or OLED ≥14\" + 1080p or higher = 15. IPS <14\" = 8. TN any size = 3. |\n| RAM | `RAM (GB)` | 15 | ≥16 GB = 15. 8 GB = 10. <8 = 4. |\n| CPU efficiency | `CPU Model`, `TDP (W)` | 12 | U-series or efficiency CPU ≤28 W TDP = 12. P-series ≤45 W = 8. H-series >45 W = 3. |\n| Storage | `Storage Type`, `Storage Capacity` | 8 | NVMe SSD ≥512 GB = 8. SATA SSD = 4. HDD = 0. |\n\n---\n\n## 🌐 Everyday Overall Use\n\n**Why these criteria matter:** Everyday use covers web browsing, media consumption, light productivity, and occasional heavier tasks. No single spec dominates — balance across battery, CPU, RAM, display, and portability produces the best all-rounder. Battery ensures the laptop handles a full day without a charger. A modern multi-core CPU handles all common tasks without lag. Sufficient RAM prevents slowdowns during multitasking. A good display makes media consumption and general use pleasant. A light chassis improves daily handling.\n\n| Criterion | Field(s) | Weight | Scoring Logic |\n|---|---|---|---|\n| Battery | `Battery (Wh)` | 25 | ≥80 Wh = 25. 60–79 Wh = 18. 45–59 Wh = 10. <45 or absent = 3. |\n| CPU performance | `CPU Model`, `Core Count` | 20 | ≥8 cores or modern efficiency CPU = 20. 6 cores = 14. 4 cores = 8. ≤2 cores = 3. |\n| RAM | `RAM (GB)` | 15 | ≥16 GB = 15. 8 GB = 10. <8 = 4. |\n| Display | `Screen Size`, `Resolution`, `Panel Type` | 15 | IPS or OLED ≥14\" + 1080p or higher = 15. IPS <14\" = 8. TN = 3. |\n| Storage | `Storage Type`, `Storage Capacity` | 10 | NVMe SSD ≥512 GB = 10. SATA SSD = 6. HDD = 1. |\n| Weight | `Weight` | 8 | ≤1.5 kg = 8. 1.6–2.0 kg = 5. >2.0 kg = 2. |\n| GPU | `GPU Type`, `GPU Model` | 7 | Dedicated GPU = 7. Integrated = 3. Absent = 0. |\n\n---\n\n# Section 5 — Tools & Capabilities\n\n**Tool Name:** `Get row(s) in sheet in Google Sheets`\n\n- **Purpose:** Retrieves all laptop rows from the \"Laptop Specification Tracker\" Google Sheet (Sheet1) for scoring.\n- **When to invoke:** Once, immediately after objective validation in Step 2. Do not invoke more than once per execution.\n- **Expected input:** No filtering parameters — retrieve all rows.\n- **Expected output:** An array of row objects, each containing the column fields listed in Section 4 scoring profiles.\n- **On failure:** Do not retry. Execute Section 7 fallback: `tool_failure`.\n\nNever invoke a tool not listed here. Never assume a tool's behavior beyond what is described in this section.\n\n---\n\n# Section 6 — Rules & Instructions\n\n- Do not add conversational filler, preambles, or explanations outside the defined output format.\n- Do not echo the raw sheet data in your output.\n- Do not fabricate specification values. Every value cited in the justification must exist in the winning laptop's retrieved sheet row.\n- Execute deterministically: given the same sheet data and the same objective, always produce the same winner.\n- Do not make assumptions about fields, APIs, or behaviors not described in this prompt.\n- Never modify the output format in Section 9 to add extra sections, even if they seem helpful.\n- Do not reference laptops that were not retrieved from the sheet.\n- If a field used in scoring is absent from a row, assign 0 points for that criterion. Do not assume a value.\n- Scores are internal calculations. Do not expose the raw per-criterion point breakdown in the output. Show only the final score out of 100.\n- The justification must cite only the criteria most decisive in determining the winner for the given objective — the top 3 to 5 differentiating factors. Do not list all criteria.\n- When a criterion uses a GPU tier judgment (e.g. \"high-performance\" vs \"mid-range\"), base that judgment solely on the `GPU Model` string retrieved from the sheet. If the GPU model is absent, score 0 for that criterion.\n- **The justification must be written entirely in Arabic**, except for technical terms that have no natural Arabic equivalent — such as CPU, RAM, GPU, Core, VRAM, TDP, NVMe, OLED, IPS, TN, Hz, Wh — which must remain in English exactly as written.\n- **The justification must not exceed 300 characters** (measured on the final rendered text, including Arabic and any retained English terms). If a draft exceeds 300 characters, remove the least decisive factor first, then trim phrasing, until it fits within the limit. Never cut a sentence mid-way.\n\n---\n\n# Section 7 — Conditions & Edge Cases\n\n**IF** the objective is absent, null, or does not exactly match one of the five valid values:\n→ Return the Telegram message:\n`❌ Invalid objective. Please send one of the following:\\n• Gaming & Streaming\\n• Software Development\\n• Video Editing & 3D\\n• Office & Productivity\\n• Everyday Overall Use`\n\n**IF** the `Get row(s) in sheet in Google Sheets` tool returns an error:\n→ Return the Telegram message:\n`❌ Could not retrieve laptop data. Please try again later.`\n\n**IF** the tool returns zero rows:\n→ Return the Telegram message:\n`📋 No laptops found in the tracker. Please add laptops first.`\n\n**IF** only one laptop is in the sheet:\n→ Score it, declare it the winner by default, and note in the justification: \"Only one laptop is currently in the tracker.\"\n\n**IF** two or more laptops share the highest calculated score:\n→ Select the one with the higher `Score` column value from the sheet. If still tied, select the first in sheet order.\n\n**IF** you are uncertain whether a retrieved value meets a scoring threshold:\n→ Assign the lower bracket score. Do not guess upward.\n\n---\n\n# Section 8 — Token Optimization Protocol\n\n- Do not echo sheet row data in your output.\n- Do not expose internal scoring tables or per-criterion breakdowns in the output.\n- Omit all chain-of-thought reasoning from the final output.\n- Do not include null or empty fields in internal processing objects.\n- Do not add explanatory comments inside the output message.\n- Keep the justification to 3–5 decisive differentiating factors only.\n\n---\n\n# Section 9 — Output Format\n\nReturn exactly this Telegram message structure. Nothing before it, nothing after it.\n\n🏆 *[Laptop Name]*\n🎯 Objective: [Objective Name]\n⭐ Score: [X]/100\n\n📝 *Why it wins:*\n[Justification in Arabic. Max 300 characters. Technical terms such as CPU, RAM, GPU, Core, VRAM, TDP, NVMe, OLED, IPS, TN, Hz, Wh must remain in English. All other text must be in Arabic. Never exceed 300 characters — shorten by removing least decisive factor first if needed.]"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[336,688],"id":"cd690f1e-3fd5-4e2f-8223-b3b91266dc66","name":"Comparison Agent","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"data","hasOutputParser":true,"options":{"systemMessage":"# Section 1 — Role & Objective\n\nYou are the **Laptop Image Extractor Agent** — a vision-powered data extraction agent operating inside an n8n pipeline. You receive an image via Telegram, determine whether it depicts a laptop or desktop computer, extract every specification that is explicitly visible in the image, and append one row to a Google Sheet.\n\nYour success criterion: the Google Sheet row is appended successfully AND you return a JSON object containing the inserted laptop name. Any other outcome — wrong image type, no extractable specs, or failed insert — must produce a structured error output so the n8n workflow can route to the error handling branch.\n\n---\n\n# Section 2 — Input Context\n\nYou receive the following inputs at runtime:\n\n- `image` (Required): A binary image passed via `passthroughBinaryImages`. This is the only valid source of specification data.\n- `data` (Required): The prompt trigger string. Treat this as an activation signal only. Do not extract specifications from it.\n\nDo not reference or assume any field not listed here. If an expected field is absent, trigger the fallback behavior defined in Section 7.\n\n---\n\n# Section 3 — Agent Behavior & Thinking Process\n\n**Step 1:** Validate the image input. Confirm the binary image is present and readable. If it is missing or unreadable, execute Section 7 fallback: `missing_field:image`.\n\n**Step 2:** Classify the image. Ask: does this image primarily depict a laptop or desktop computer — including promotional or advertising images for such devices?\n- YES → proceed to Step 3.\n- NO (phone, tablet, cat, food, person, appliance, scenery, or any non-computer subject) → execute Section 7 fallback: `non_device_image`. Do not invoke the Google Sheets tool. Stop here.\n\n**Step 3:** Extract specifications. Scan every visible element of the image — text, logos, spec sheets, promotional callouts, product labels — for any of the following fields. Populate only what is explicitly present and visible. Do not infer, estimate, or complete values from training knowledge:\n\n`Type`, `Brand`, `Model`, `Release Year`, `Price`, `CPU Brand`, `CPU Model`, `Core Count`, `Thread Count`, `Base Clock (GHz)`, `Boost Clock (GHz)`, `TDP (W)`, `GPU Type`, `GPU Brand`, `GPU Model`, `VRAM (GB)`, `Max TGP (W)`, `RAM (GB)`, `RAM Type`, `RAM Speed (MHz)`, `RAM Upgradability`, `Storage Type`, `Storage Capacity`, `Storage Slots`, `Screen Size`, `Resolution`, `Aspect Ratio`, `Panel Type`, `Refresh Rate (Hz)`, `Brightness (Nits)`, `Touchscreen`, `Weight`, `Battery (Wh)`, `USB-A Ports`, `USB-C/Thunderbolt`, `HDMI/DisplayPort`, `Ethernet (RJ45)`, `Wi-Fi Version`, `OS`, `Webcam`, `Biometrics`, `Warranty`, `Pros`, `Cons`, `Score`, `Link`\n\n**Step 4:** After extraction, evaluate the result. If zero fields were populated — meaning nothing readable or identifiable was present in the image — execute Section 7 fallback: `no_extractable_specs`. Do not invoke the Google Sheets tool. Stop here.\n\n**Step 5:** Invoke the `Append row in sheet in Google Sheets` tool using only the populated fields from Step 3. If the tool returns an error, execute Section 7 fallback: `tool_failure`. Do not retry.\n\n**Step 6:** On successful insert, return the success output schema defined in Section 9.\n\n**Step 7:** Verify your output matches the schema in Section 9 before returning it.\n\n**Self-Check:** Before producing your final output, perform a self-check: Does every value in your output come directly from the image? If any value was inferred or assumed without a visible source in the image, remove it and leave that field empty. Does the output match exactly one of the two schemas in Section 9? If not, stop and apply the correct fallback.\n\n---\n\n# Section 4 — Tools & Capabilities\n\n**Tool Name:** `Append row in sheet in Google Sheets`\n\n- **Purpose:** Appends one row of extracted laptop or PC specifications to the Google Sheet named \"Laptop Specification Tracker\" (Sheet1).\n- **When to invoke:** Only after Step 2 confirms the image depicts a laptop or desktop computer AND Step 4 confirms at least one field was extracted.\n- **Expected input:** A flat key-value object where each key is a confirmed column name from Section 3. Include only keys for which a value was extracted and confirmed visible in the image. Do not include keys with empty, null, or assumed values.\n- **Expected output:** A confirmation that the row was appended successfully.\n- **On failure:** Do not retry. Execute Section 7 fallback: `tool_failure` immediately.\n\nNever invoke a tool not listed here. Never assume a tool's behavior beyond what is described in this section.\n\n---\n\n# Section 5 — Rules & Instructions\n\n- Do not add conversational filler, preambles, or explanations to your output.\n- Do not echo the input data in your output.\n- Do not fabricate data. If a value is not explicitly visible in the image, leave that field empty.\n- Do not use training knowledge to complete, guess, or infer specifications that are not visible in the image.\n- Execute deterministically: given the same image, always produce the same extraction result.\n- Do not make assumptions about fields, APIs, or behaviors not described in this prompt.\n- Never modify the output schema to add extra fields, even if they seem helpful.\n- Do not invoke the Google Sheets tool if the image is not a laptop or desktop, or if zero specs were extracted.\n- A specification value is valid only if it is visibly present in the image as printed text, a logo, a label, a spec table, or a promotional callout. Visual inference such as \"it looks like an IPS panel\" is forbidden.\n- For the `Type` field: populate with `\"Laptop\"` or `\"Desktop\"` based on the device form factor visible in the image. If the form factor is ambiguous, leave the field empty.\n- For promotional images that state \"Up to X\" values: extract the stated maximum and prefix the value with `~` to indicate it is an advertised maximum, not a confirmed configuration. Example: `\"~32\"` for RAM.\n- The `laptop_name` value in the success output must be constructed as `Brand + \" \" + Model` using only the values extracted from the image. If either Brand or Model is missing, use whichever is available. If both are missing, use the value of `Type` alone.\n\n---\n\n# Section 6 — Limitations & Constraints\n\n- **Knowledge boundary:** Your knowledge is limited to what is described in this prompt and what the image contains. Do not use external knowledge to fill gaps.\n- **No assumption rule:** If a specification is not visible in the image, do not guess. Leave the field empty.\n- **Schema fidelity:** The output schema in Section 9 is fixed. Do not add, remove, or rename any fields.\n- **Tool boundary:** You may only use the tool listed in Section 4. No other actions are permitted.\n- **No model-knowledge fill:** Even if you recognize the device from its appearance or branding, you must not populate specifications that are not visible in the image from your training knowledge.\n- **No row on non-device images:** If the image does not show a laptop or desktop computer, the Google Sheets tool must not be invoked under any circumstances.\n- **No row on zero-spec images:** If the image shows a laptop or desktop but no specification text or data is readable, the Google Sheets tool must not be invoked.\n\n---\n\n# Section 7 — Conditions & Edge Cases\n\n**IF** the binary image input is missing or unreadable:\n→ Return: `{ \"status\": \"error\", \"reason\": \"missing_field:image\", \"data\": null }`\n\n**IF** the image does not depict a laptop or desktop computer:\n→ Do not invoke the Google Sheets tool.\n→ Return: `{ \"status\": \"error\", \"reason\": \"non_device_image\", \"data\": null }`\n\n**IF** the image depicts a laptop or desktop but zero specification fields can be extracted:\n→ Do not invoke the Google Sheets tool.\n→ Return: `{ \"status\": \"error\", \"reason\": \"no_extractable_specs\", \"data\": null }`\n\n**IF** the Google Sheets tool call returns an error:\n→ Do not retry.\n→ Return: `{ \"status\": \"error\", \"reason\": \"tool_failure:Append row in sheet in Google Sheets\", \"data\": null }`\n\n**IF** the input data does not match the expected schema:\n→ Do not attempt to process it.\n→ Return: `{ \"status\": \"error\", \"reason\": \"invalid_input_schema\", \"data\": null }`\n\n**IF** you are uncertain whether a value is correct:\n→ Leave that field empty. Do not guess.\n\n---\n\n# Section 8 — Token Optimization Protocol\n\n- Do not echo the input data in your output.\n- Output raw JSON only. Do not wrap it in markdown code fences.\n- Omit all reasoning from the final output.\n- Use concise key names as defined in Section 9.\n- Do not include null fields in your output unless the downstream schema explicitly requires them.\n- Do not add explanatory comments inside the JSON.\n\n---\n\n# Section 9 — Output Schema\n\nReturn only one of these two JSON objects. Nothing before it, nothing after it.\n\n**On success:**\n```\n{\n  \"status\": \"success\",\n  \"data\": {\n    \"laptop_name\": \"Brand Model\"\n  }\n}\n```\n\n**On any error:**\n```\n{\n  \"status\": \"error\",\n  \"reason\": \"non_device_image | no_extractable_specs | missing_field:image | tool_failure:Append row in sheet in Google Sheets | invalid_input_schema\",\n  \"data\": null\n}\n```\n\n- `status` must always be present.\n- `data.laptop_name` on success must be `Brand + \" \" + Model` derived only from the image. Never from training knowledge.\n- `reason` is present only on error. It is absent on success.\n- `data` is `null` on error.\n- Return only this JSON object. Nothing before it, nothing after it.\n- All string values must be derived from the image content only.\n- The `status` field must always be present.","passthroughBinaryImages":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[336,-272],"id":"1eb77146-8556-453a-88dd-923dbba732dc","name":"Image AI Agent","alwaysOutputData":false,"retryOnFail":true,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1pv51Qo5Tf7NHG5MYmNQznrCieJtYknxIfeyETx6nUvI","mode":"list","cachedResultName":"Laptop Specification Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pv51Qo5Tf7NHG5MYmNQznrCieJtYknxIfeyETx6nUvI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pv51Qo5Tf7NHG5MYmNQznrCieJtYknxIfeyETx6nUvI/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[464,912],"id":"66827202-9a8f-4099-8af7-046eb1ddb46f","name":"Read Sheet Rows","credentials":{"googleSheetsOAuth2Api":{"id":"FVsUh6ox1itBfsEi","name":"Google Sheets account"}}},{"parameters":{"chatId":"2076665816","text":"=✅ Laptop successfully added!\n\nThe specifications have been extracted and saved to your comparison sheet\nLaptop : {{ $json.output.data.laptop_name }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[736,416],"id":"046ee89f-5958-4fe8-8bef-cd96f25f77ba","name":"Send Success","webhookId":"6f7c4309-6a1f-4f2e-8a83-5c8bed138ee1","credentials":{"telegramApi":{"id":"LoVEMZWt5jjMO2uG","name":"Telegram account"}}},{"parameters":{"chatId":"2076665816","text":"❌ We couldn't process your request.  Please try again by ensuring you use a valid bot command along with either:  A high-quality image showing the full laptop specifications clearly.  A valid Amazon product URL.","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[736,48],"id":"37e3a7d7-e308-4b06-9fc2-d1058273b5e2","name":"Send Error","webhookId":"6f7c4309-6a1f-4f2e-8a83-5c8bed138ee1","credentials":{"telegramApi":{"id":"LoVEMZWt5jjMO2uG","name":"Telegram account"}}},{"parameters":{"chatId":"2076665816","text":"📊 Please select the primary purpose for this comparison to optimize the spec weights:","replyMarkup":"replyKeyboard","replyKeyboard":{"rows":[{"row":{"buttons":[{"text":"🎮 Gaming & Streaming","additionalFields":{}},{"text":"💻 Software Development","additionalFields":{}}]}},{"row":{"buttons":[{"text":"🎬 Video Editing & 3D","additionalFields":{}},{"text":"💼 Office & Productivity","additionalFields":{}}]}},{"row":{"buttons":[{"text":"🏠 Everyday Overall Use","additionalFields":{}}]}}]},"replyKeyboardOptions":{},"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[960,416],"id":"e39652a4-c31c-4e84-b272-2d4bef1befed","name":"Send Option Keyboard","webhookId":"6fb50e55-deb2-49ec-a21f-15a846bd6f3a","credentials":{"telegramApi":{"id":"LoVEMZWt5jjMO2uG","name":"Telegram account"}}},{"parameters":{"chatId":"2076665816","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[736,720],"id":"f46a00b6-c4e3-431a-95ce-f5639e11aa5f","name":"Send Comparison Result","webhookId":"6f7c4309-6a1f-4f2e-8a83-5c8bed138ee1","credentials":{"telegramApi":{"id":"LoVEMZWt5jjMO2uG","name":"Telegram account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1pv51Qo5Tf7NHG5MYmNQznrCieJtYknxIfeyETx6nUvI","mode":"list","cachedResultName":"Laptop Specification Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pv51Qo5Tf7NHG5MYmNQznrCieJtYknxIfeyETx6nUvI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pv51Qo5Tf7NHG5MYmNQznrCieJtYknxIfeyETx6nUvI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Brand":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Brand', ``, 'string') }}","Model":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Model', ``, 'string') }}","Release Year":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Release_Year', ``, 'string') }}","Price":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Price', ``, 'string') }}","CPU Brand":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('CPU_Brand', ``, 'string') }}","CPU Model":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('CPU_Model', ``, 'string') }}","Core Count":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Core_Count', ``, 'string') }}","Thread Count":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Thread_Count', ``, 'string') }}","Base Clock (GHz)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Base_Clock__GHz_', ``, 'string') }}","Boost Clock (GHz)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Boost_Clock__GHz_', ``, 'string') }}","TDP (W)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TDP__W_', ``, 'string') }}","GPU Type":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('GPU_Type', ``, 'string') }}","GPU Brand":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('GPU_Brand', ``, 'string') }}","GPU Model":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('GPU_Model', ``, 'string') }}","VRAM (GB)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('VRAM__GB_', ``, 'string') }}","Max TGP (W)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Max_TGP__W_', ``, 'string') }}","RAM (GB)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('RAM__GB_', ``, 'string') }}","RAM Type":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('RAM_Type', ``, 'string') }}","RAM Speed (MHz)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('RAM_Speed__MHz_', ``, 'string') }}","RAM Upgradability":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('RAM_Upgradability', ``, 'string') }}","Storage Type":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Storage_Type', ``, 'string') }}","Storage Capacity":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Storage_Capacity', ``, 'string') }}","Storage Slots":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Storage_Slots', ``, 'string') }}","Screen Size":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Screen_Size', ``, 'string') }}","Resolution":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Resolution', ``, 'string') }}","Aspect Ratio":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Aspect_Ratio', ``, 'string') }}","Panel Type":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Panel_Type', ``, 'string') }}","Refresh Rate (Hz)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Refresh_Rate__Hz_', ``, 'string') }}","Brightness (Nits)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Brightness__Nits_', ``, 'string') }}","Touchscreen":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Touchscreen', ``, 'string') }}","Weight":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Weight', ``, 'string') }}","Battery (Wh)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Battery__Wh_', ``, 'string') }}","USB-A Ports":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('USB-A_Ports', ``, 'string') }}","USB-C/Thunderbolt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('USB-C_Thunderbolt', ``, 'string') }}","HDMI/DisplayPort":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('HDMI_DisplayPort', ``, 'string') }}","Ethernet (RJ45)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Ethernet__RJ45_', ``, 'string') }}","Wi-Fi Version":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Wi-Fi_Version', ``, 'string') }}","OS":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('OS', ``, 'string') }}","Biometrics":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Biometrics', ``, 'string') }}","Pros":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Pros', ``, 'string') }}","Warranty":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Warranty', ``, 'string') }}","Webcam":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Webcam', ``, 'string') }}","Cons":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cons', ``, 'string') }}","Score":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Score', ``, 'string') }}","Link":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Link', ``, 'string') }}","Type":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Type', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Brand","displayName":"Brand","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Model","displayName":"Model","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Release Year","displayName":"Release Year","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Price","displayName":"Price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CPU Brand","displayName":"CPU Brand","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CPU Model","displayName":"CPU Model","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Core Count","displayName":"Core Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thread Count","displayName":"Thread Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Base Clock (GHz)","displayName":"Base Clock (GHz)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Boost Clock (GHz)","displayName":"Boost Clock (GHz)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TDP (W)","displayName":"TDP (W)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GPU Type","displayName":"GPU Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GPU Brand","displayName":"GPU Brand","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GPU Model","displayName":"GPU Model","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VRAM (GB)","displayName":"VRAM (GB)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Max TGP (W)","displayName":"Max TGP (W)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RAM (GB)","displayName":"RAM (GB)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RAM Type","displayName":"RAM Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RAM Speed (MHz)","displayName":"RAM Speed (MHz)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RAM Upgradability","displayName":"RAM Upgradability","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Storage Type","displayName":"Storage Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Storage Capacity","displayName":"Storage Capacity","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Storage Slots","displayName":"Storage Slots","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Screen Size","displayName":"Screen Size","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Resolution","displayName":"Resolution","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Aspect Ratio","displayName":"Aspect Ratio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Panel Type","displayName":"Panel Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Refresh Rate (Hz)","displayName":"Refresh Rate (Hz)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Brightness (Nits)","displayName":"Brightness (Nits)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Touchscreen","displayName":"Touchscreen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Weight","displayName":"Weight","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Battery (Wh)","displayName":"Battery (Wh)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"USB-A Ports","displayName":"USB-A Ports","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"USB-C/Thunderbolt","displayName":"USB-C/Thunderbolt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HDMI/DisplayPort","displayName":"HDMI/DisplayPort","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ethernet (RJ45)","displayName":"Ethernet (RJ45)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Wi-Fi Version","displayName":"Wi-Fi Version","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OS","displayName":"OS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Webcam","displayName":"Webcam","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Biometrics","displayName":"Biometrics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Warranty","displayName":"Warranty","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pros","displayName":"Pros","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cons","displayName":"Cons","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Score","displayName":"Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ok","displayName":"ok","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"result","displayName":"result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"USB-C_Thunderbolt","displayName":"USB-C_Thunderbolt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Wi-Fi_Version","displayName":"Wi-Fi_Version","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VRAM__GB_","displayName":"VRAM__GB_","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"GPU_Brand","displayName":"GPU_Brand","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ethernet__RJ45_","displayName":"Ethernet__RJ45_","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"GPU_Model","displayName":"GPU_Model","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Battery__Wh_","displayName":"Battery__Wh_","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RAM_Speed__MHz_","displayName":"RAM_Speed__MHz_","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Release_Year","displayName":"Release_Year","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"HDMI_DisplayPort","displayName":"HDMI_DisplayPort","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Core_Count","displayName":"Core_Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Boost_Clock__GHz_","displayName":"Boost_Clock__GHz_","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RAM_Type","displayName":"RAM_Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Brightness__Nits_","displayName":"Brightness__Nits_","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Base_Clock__GHz_","displayName":"Base_Clock__GHz_","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Thread_Count","displayName":"Thread_Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"GPU_Type","displayName":"GPU_Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"USB-A_Ports","displayName":"USB-A_Ports","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CPU_Model","displayName":"CPU_Model","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Aspect_Ratio","displayName":"Aspect_Ratio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CPU_Brand","displayName":"CPU_Brand","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Max_TGP__W_","displayName":"Max_TGP__W_","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Storage_Capacity","displayName":"Storage_Capacity","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Refresh_Rate__Hz_","displayName":"Refresh_Rate__Hz_","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TDP__W_","displayName":"TDP__W_","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RAM__GB_","displayName":"RAM__GB_","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Panel_Type","displayName":"Panel_Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Screen_Size","displayName":"Screen_Size","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Storage_Type","displayName":"Storage_Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Storage_Slots","displayName":"Storage_Slots","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RAM_Upgradability","displayName":"RAM_Upgradability","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"toolCallId","displayName":"toolCallId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[400,-48],"id":"2ac61c16-fd33-4791-af29-67974b99c4e1","name":"Append to Sheet-image","credentials":{"googleSheetsOAuth2Api":{"id":"FVsUh6ox1itBfsEi","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1pv51Qo5Tf7NHG5MYmNQznrCieJtYknxIfeyETx6nUvI","mode":"list","cachedResultName":"Laptop Specification Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pv51Qo5Tf7NHG5MYmNQznrCieJtYknxIfeyETx6nUvI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pv51Qo5Tf7NHG5MYmNQznrCieJtYknxIfeyETx6nUvI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Brand":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Brand', ``, 'string') }}","Model":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Model', ``, 'string') }}","Release Year":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Release_Year', ``, 'string') }}","Price":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Price', ``, 'string') }}","CPU Brand":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('CPU_Brand', ``, 'string') }}","CPU Model":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('CPU_Model', ``, 'string') }}","Core Count":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Core_Count', ``, 'string') }}","Thread Count":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Thread_Count', ``, 'string') }}","Base Clock (GHz)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Base_Clock__GHz_', ``, 'string') }}","Boost Clock (GHz)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Boost_Clock__GHz_', ``, 'string') }}","TDP (W)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TDP__W_', ``, 'string') }}","GPU Type":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('GPU_Type', ``, 'string') }}","GPU Brand":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('GPU_Brand', ``, 'string') }}","GPU Model":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('GPU_Model', ``, 'string') }}","VRAM (GB)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('VRAM__GB_', ``, 'string') }}","Max TGP (W)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Max_TGP__W_', ``, 'string') }}","RAM (GB)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('RAM__GB_', ``, 'string') }}","RAM Type":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('RAM_Type', ``, 'string') }}","RAM Speed (MHz)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('RAM_Speed__MHz_', ``, 'string') }}","RAM Upgradability":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('RAM_Upgradability', ``, 'string') }}","Storage Type":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Storage_Type', ``, 'string') }}","Storage Capacity":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Storage_Capacity', ``, 'string') }}","Storage Slots":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Storage_Slots', ``, 'string') }}","Screen Size":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Screen_Size', ``, 'string') }}","Resolution":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Resolution', ``, 'string') }}","Aspect Ratio":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Aspect_Ratio', ``, 'string') }}","Panel Type":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Panel_Type', ``, 'string') }}","Refresh Rate (Hz)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Refresh_Rate__Hz_', ``, 'string') }}","Brightness (Nits)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Brightness__Nits_', ``, 'string') }}","Touchscreen":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Touchscreen', ``, 'string') }}","Weight":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Weight', ``, 'string') }}","Battery (Wh)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Battery__Wh_', ``, 'string') }}","USB-A Ports":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('USB-A_Ports', ``, 'string') }}","USB-C/Thunderbolt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('USB-C_Thunderbolt', ``, 'string') }}","HDMI/DisplayPort":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('HDMI_DisplayPort', ``, 'string') }}","Ethernet (RJ45)":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Ethernet__RJ45_', ``, 'string') }}","Wi-Fi Version":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Wi-Fi_Version', ``, 'string') }}","OS":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('OS', ``, 'string') }}","Biometrics":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Biometrics', ``, 'string') }}","Pros":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Pros', ``, 'string') }}","Warranty":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Warranty', ``, 'string') }}","Webcam":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Webcam', ``, 'string') }}","Cons":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cons', ``, 'string') }}","Score":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Score', ``, 'string') }}","Link":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Link', ``, 'string') }}","Type":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Type', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Brand","displayName":"Brand","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Model","displayName":"Model","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Release Year","displayName":"Release Year","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Price","displayName":"Price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CPU Brand","displayName":"CPU Brand","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CPU Model","displayName":"CPU Model","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Core Count","displayName":"Core Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Thread Count","displayName":"Thread Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Base Clock (GHz)","displayName":"Base Clock (GHz)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Boost Clock (GHz)","displayName":"Boost Clock (GHz)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TDP (W)","displayName":"TDP (W)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GPU Type","displayName":"GPU Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GPU Brand","displayName":"GPU Brand","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GPU Model","displayName":"GPU Model","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VRAM (GB)","displayName":"VRAM (GB)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Max TGP (W)","displayName":"Max TGP (W)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RAM (GB)","displayName":"RAM (GB)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RAM Type","displayName":"RAM Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RAM Speed (MHz)","displayName":"RAM Speed (MHz)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RAM Upgradability","displayName":"RAM Upgradability","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Storage Type","displayName":"Storage Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Storage Capacity","displayName":"Storage Capacity","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Storage Slots","displayName":"Storage Slots","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Screen Size","displayName":"Screen Size","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Resolution","displayName":"Resolution","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Aspect Ratio","displayName":"Aspect Ratio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Panel Type","displayName":"Panel Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Refresh Rate (Hz)","displayName":"Refresh Rate (Hz)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Brightness (Nits)","displayName":"Brightness (Nits)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Touchscreen","displayName":"Touchscreen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Weight","displayName":"Weight","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Battery (Wh)","displayName":"Battery (Wh)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"USB-A Ports","displayName":"USB-A Ports","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"USB-C/Thunderbolt","displayName":"USB-C/Thunderbolt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HDMI/DisplayPort","displayName":"HDMI/DisplayPort","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ethernet (RJ45)","displayName":"Ethernet (RJ45)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Wi-Fi Version","displayName":"Wi-Fi Version","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OS","displayName":"OS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Webcam","displayName":"Webcam","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Biometrics","displayName":"Biometrics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Warranty","displayName":"Warranty","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Pros","displayName":"Pros","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cons","displayName":"Cons","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Score","displayName":"Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link","displayName":"Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ok","displayName":"ok","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"result","displayName":"result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"USB-C_Thunderbolt","displayName":"USB-C_Thunderbolt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Wi-Fi_Version","displayName":"Wi-Fi_Version","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VRAM__GB_","displayName":"VRAM__GB_","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"GPU_Brand","displayName":"GPU_Brand","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ethernet__RJ45_","displayName":"Ethernet__RJ45_","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"GPU_Model","displayName":"GPU_Model","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Battery__Wh_","displayName":"Battery__Wh_","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RAM_Speed__MHz_","displayName":"RAM_Speed__MHz_","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Release_Year","displayName":"Release_Year","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"HDMI_DisplayPort","displayName":"HDMI_DisplayPort","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Core_Count","displayName":"Core_Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Boost_Clock__GHz_","displayName":"Boost_Clock__GHz_","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RAM_Type","displayName":"RAM_Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Brightness__Nits_","displayName":"Brightness__Nits_","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Base_Clock__GHz_","displayName":"Base_Clock__GHz_","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Thread_Count","displayName":"Thread_Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"GPU_Type","displayName":"GPU_Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"USB-A_Ports","displayName":"USB-A_Ports","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CPU_Model","displayName":"CPU_Model","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Aspect_Ratio","displayName":"Aspect_Ratio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CPU_Brand","displayName":"CPU_Brand","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Max_TGP__W_","displayName":"Max_TGP__W_","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Storage_Capacity","displayName":"Storage_Capacity","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Refresh_Rate__Hz_","displayName":"Refresh_Rate__Hz_","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TDP__W_","displayName":"TDP__W_","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RAM__GB_","displayName":"RAM__GB_","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Panel_Type","displayName":"Panel_Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Screen_Size","displayName":"Screen_Size","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Storage_Type","displayName":"Storage_Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Storage_Slots","displayName":"Storage_Slots","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RAM_Upgradability","displayName":"RAM_Upgradability","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"toolCallId","displayName":"toolCallId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[400,368],"id":"c10e5c97-c094-43a5-bbc3-b90782fc1a04","name":"Append to Sheet-url","credentials":{"googleSheetsOAuth2Api":{"id":"FVsUh6ox1itBfsEi","name":"Google Sheets account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"URL Extractor","type":"main","index":0}]]},"Google Vertex Chat Model":{"ai_languageModel":[[{"node":"Image AI Agent","type":"ai_languageModel","index":0}]]},"Google Vertex Chat Model1":{"ai_languageModel":[[{"node":"Comparison Agent","type":"ai_languageModel","index":0}]]},"Google Vertex Chat Model2":{"ai_languageModel":[[{"node":"URL AI Agent","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"Download from Telegram","type":"main","index":0}],[{"node":"URL AI Agent","type":"main","index":0}],[{"node":"Comparison Agent","type":"main","index":0}],[{"node":"Comparison Agent","type":"main","index":0}],[{"node":"Comparison Agent","type":"main","index":0}],[{"node":"Comparison Agent","type":"main","index":0}],[{"node":"Comparison Agent","type":"main","index":0}],[{"node":"Send Error","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Image AI Agent","type":"ai_outputParser","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"URL AI Agent","type":"ai_outputParser","index":0}]]},"URL Extractor":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Download from Telegram":{"main":[[{"node":"Image AI Agent","type":"main","index":0}]]},"URL AI Agent":{"main":[[{"node":"Send Success","type":"main","index":0}],[{"node":"Send Error","type":"main","index":0}]]},"Comparison Agent":{"main":[[{"node":"Send Comparison Result","type":"main","index":0}],[{"node":"Send Error","type":"main","index":0}]]},"Image AI Agent":{"main":[[{"node":"Send Success","type":"main","index":0}],[{"node":"Send Error","type":"main","index":0}]]},"Read Sheet Rows":{"ai_tool":[[{"node":"Comparison Agent","type":"ai_tool","index":0}]]},"Send Success":{"main":[[{"node":"Send Option Keyboard","type":"main","index":0}]]},"Send Error":{"main":[[{"node":"Send Option Keyboard","type":"main","index":0}]]},"Send Comparison Result":{"main":[[{"node":"Send Option Keyboard","type":"main","index":0}]]},"Append to Sheet-image":{"ai_tool":[[{"node":"Image AI Agent","type":"ai_tool","index":0}]]},"Append to Sheet-url":{"ai_tool":[[{"node":"URL AI Agent","type":"ai_tool","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true,"instanceId":"c12f628b22583c70e4dca469116ed48cb0e578a4bf671b6f87f63bd78fbf23f2"}},"success":true}